<div class="admin-login">
  <md-button class="md-whiteframe-z2 admin-login" ui-sref="adminLogin">Admin Dashboard Login</md-button>
</div>
<div ng-controller="UserCtrl as vm">
  <div class="userNumPad md-whiteframe-z1">
    <input class="keypad-display" type="String" ng-model="vm.employee_pin" disabled/>
    <ng-keypad on-key-pressed='vm.onKeyPressed'>
      <ng-key ng-repeat="key in vm.keys" ng-key-data="key">{{key}}</ng-key>
      <ng-key ng-key-data='"<"'>clear</ng-key>
      <ng-key ng-key-data="0">0</ng-key>
    <md-button ng-click="keypadEnt(vm)">Enter</md-button>
    </ng-keypad>
  </div>
</div>
