
<div class="innerContainer">

  <div ng-controller="UserCtrl as vm">
    <div class="innerContainerleft">
      <div class="InvItemHeader">
        <h3>Welcome to AutoTrak</h3>
      </div>

    </div>
    <div class="innerContainerright">
      <div class="tech-header md-whiteframe-z3">
        <div class="numpad3">
          <input class="keypad-display3" type="password" ng-model="vm.employee_pin" placeholder="Enter PIN..." disabled/>
        <ng-keypad on-key-pressed='vm.onKeyPressed'>
          <ng-key class='btn btn-right' ng-key-data="1"><i>1</i></ng-key>
          <ng-key class='btn btn-right' ng-key-data="2"><i>2</i></ng-key>
          <ng-key class='btn btn-right' ng-key-data="3"><i>3</i></ng-key>
          <ng-key class='btn btn-right' ng-key-data="4"><i>4</i></ng-key>
          <ng-key class='btn btn-right' ng-key-data="5"><i>5</i></ng-key>
          <ng-key class='btn btn-right' ng-key-data="6"><i>6</i></ng-key>
          <ng-key class='btn btn-right' ng-key-data="7"><i>7</i></ng-key>
          <ng-key class='btn btn-right' ng-key-data="8"><i>8</i></ng-key>
          <ng-key class='btn btn-right' ng-key-data="9"><i>9</i></ng-key>
          <ng-key class='btn btn-right' ng-key-data='"<"'><i><div class="clear">Clear</div></i></ng-key>
          <ng-key class='btn btn-right' ng-key-data="0"><i>0</i></ng-key>
        </ng-keypad>
      </div>
    </div>
    </div>
    <div class="riCheckoutContainer">
      <md-button id="mainButtons" class="squarebtn squarebtn-right" ng-click="adminLogin()"><i class="material-icons md-48">group</i></md-button>
      <md-button id="mainButtonsDisabled" class="squarebtnDisabled squarebtn-right" disabled><i class="material-icons md-48">add_shopping_cart</i></md-button>
      <md-button id="mainButtonsDisabled" class="squarebtnDisabled squarebtn-right" disabled><i class="material-icons md-48">search</i></md-button>
      <md-button id="mainButtonsDisabled" class="squarebtnDisabled squarebtn-right" disabled><i class="material-icons md-48">folder</i></md-button>
      <md-button id="mainButtons" class="squarebtn squarebtn-right" ng-click="keypadEnt(vm)"><i class="material-icons md-48">check</i></md-button>
    </div>
  </div>
</div>
