<div class="numPadWrapper">
  <h3>{{ input }}</h3>
<div class="userNumPad">
    <md-button ng-model="login.one">1</md-button>
    <md-button ng-model="login.two">2</md-button>
    <md-button ng-model="login.three">3</md-button> <br>
    <md-button ng-model="login.four">4</md-button>
    <md-button ng-model="login.five">5</md-button>
    <md-button ng-model="login.six">6</md-button> <br>
    <md-button ng-model="login.seven">7</md-button>
    <md-button ng-model="login.eight">8</md-button>
    <md-button ng-model="login.nine">9</md-button> <br>
    <md-button ng--click="reset()">Clear</md-button>
    <md-button class="zero">0</md-button>
    <a href="#/user/main"><md-button ng-click="user(login)">Enter</md-button></a>
</div>

</div>
