.container {
  width: 100%;

  padding: 0;
  background: -webkit-linear-gradient(left, rgb(33, 33, 34) 0%,#798390 33%,#717B88 66%,#2C2D2F 100%);
}

.containerHeaderTheme {
  width: auto;
  height: auto;
  background: -webkit-linear-gradient(left, rgb(33, 33, 34) 0%,#798390 33%,#717B88 66%,#2C2D2F 100%);
}
.containerBodyTheme {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}
.admin-login-btn {
  margin-top:20px;
  position: relative;
  float: right;
  display: inline-block;
  width: 300px;
  color: transparent;
  font:  1.5em "Helvetica Neue";
  font-weight:lighter;
  text-transform: uppercase;
  letter-spacing: 0px;
  text-shadow:-1px -1px 0 black, 1px 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 3px 4px rgba(167, 221, 255, 1), 0 -6px 7px rgba(0, 0, 0, 0.5);
}

.admin-login-btn::before{
  margin-top:0px;
  content:"Administrative Login";
  text-transform:uppercase;
  position:absolute;
  color:#fff;
  left:0;
  right:0;
}

.admin-login-btn::after{
  content:"Administrative Login";
  margin-top: -25px;
  text-transform:uppercase;
  position:absolute;
  color:#525b73;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  left:0;
  right:0;
}
.innerContainer {
  z-index: 0;
  position: relative;
  bottom: 0px;
  width:100%;
  padding:0;
}

.innerContainerleft {
  color: white;
  float: left;
  width: 448px;
  min-width: 320px;

}

.innerContainerright {
  z-index: 0;
  position:relative;
  float:left;
  width: 100%;
  min-width: 320px;
  max-width: 832px;
  height: 600px;
  padding:0;
}


/* Keypad
=============*/
#userNumpadTechMain {
  margin-left: auto;
  margin-right: auto;
}

#displayItem {
  margin-top: 22px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 100px;
  position: relative;
  float: left;
  width: 448px;
  min-width: 320px;
  padding-top: 42px;

  background-color: black;
  opacity: .3;

}
#displayItem2 {
  margin-top: 85px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 22px;
  width: 100%;
  padding-top: 120px;
  height: 270px;
  background-color: black;
  opacity: .3;

}
#displayItem3 {
  margin-top: 22px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 100px;
  position: relative;
  float: left;
  width: 448px;
  min-width: 320px;
  padding-top: 42px;

  background-color: black;
  opacity: .3;

}
.userNumPad {
  margin-top: 110px;
  width: 425px;
  height: 520px;
  padding-left: 60px;
  border-radius:  10px;
  border: 1px solid black;
  background: -webkit-linear-gradient(left, grey, white , grey); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right,  grey, white , grey); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right,  grey, white , grey); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, black, #969696 , black); /* Standard syntax (must be last) */  /*box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);*/
}


.keypad-display {
  direction: ltr;
  margin: 35px;
  margin-left: 28px;
  padding: 0px -5% 10px 5%;
  width: 245px;
  border: 1px black;
  text-align: center;
  color: transparent;
  font: 65px "Helvetica Neue";
  font-weight:light;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow:-1px -1px 0 black, 1px 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 3px 4px rgba(167, 221, 255, 1), 0 -6px 7px rgba(0, 0, 0, 0.5);
}

.keypad-display:disabled {
  background:transparent;
  color: silver;
}
.keypad-display3 {
  direction: ltr;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  position: relative;
  bottom: 110px;
  border: 1px black;
  text-align: center;
  color: transparent;
  font: 65px "Helvetica Neue";
  font-weight:light;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow:-1px -1px 0 black, 1px 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 3px 4px rgba(167, 221, 255, 1), 0 -6px 7px rgba(0, 0, 0, 0.5);

}

.keypad-display3:disabled {
  background:transparent;
  color: black;
}

/*KeyPad2 -------------------*/


.userNumPad2Display {
  width: 100%;
}

.numpad3 {
  padding-top: 25px;
  width: 300px;
  height:600px;
  margin-left: auto;
  margin-right: auto;
}
.innerRIKeypadLeft {
  float: left;
  margin-left: 55px;
  margin-right: 55px;
  margin-top: 35px;
  width:300px;
}

/*--------------------------*/
.innerRIKeypadRight {
  float: left;
  margin-top: 35px;
  width:300px;
  margin-left: 55px;
  margin-right: 55px;
}
.innerRIKeypadRightZero {
  float:left;
  width: 100%;
}

.executionButtonsContainer {
  width: 100% auto;
  display: inline;
  position: relative;
  bottom: 40px;
}
/*-----------------------------*/

.keypad-display2 {
  direction: ltr;
  position: relative;
  bottom: 100px;
  margin-top: 5px;
  padding: 0px -5% 10px 5%;
  border: 1px black;
  text-align: center;
  color: transparent;
  font: 65px "Helvetica Neue";
  font-weight:light;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow:-1px -1px 0 black, 1px 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 3px 4px rgba(167, 221, 255, 1), 0 -6px 7px rgba(0, 0, 0, 0.5);
  width: 100%;
}

.keypad-display2:disabled {
  background:transparent;
  color: black;
}
/*------------------------------*/
.innerContainer .innerContainerright .userNumPad2 {
  float: left;
  width: 100% auto;
  /*height: 91% auto;*/
  background: -webkit-linear-gradient(left, grey, white , grey); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right,  grey, white , grey); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right,  grey, white , grey); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, black, #969696 , black); /* Standard syntax (must be last) */  /*box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);*/
  border: 1px solid black;
}

.executionButtonBack {
  width: 300px;
  display: inline;
  position: relative;
}

.userNumPad2 #backbutton {
  margin-bottom: 20px;
  margin-left:20px;
  margin-right:20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  border-radius: 100%;
  color: #607D8B;
  height: 80px;
  width: 80px;
}

.userNumPad2 #backbutton:hover {
  background-color: #607D8B;
  color: white;
}

#backbutton:before {
  font-family: 'Open Sans', sans-serif;
  content: 'Back';
  padding-top: 18px;
  font-size: 18px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(250, 250, 250);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  border-radius: 100%;
  margin-top: 5px;
  margin-left:-2px;
}
#backbutton:hover {
  background-color: #607D8B;
  color: white;
}

.executionButtonClear {
  width: 300px;
  display: inline;
  position: relative;
}

.executionButtonEnter {
  width: 300px;
  display: inline;
  position: relative;
}

.enterbutton {
  margin-bottom: 20px;
  margin-left:20px;
  margin-right:20px;
  position: relative;
  display: inline-block;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  border-radius: 100%;
  color: #607D8B;
  height: 80px;
  width: 80px;
}

.enterbutton:before {
  font-family: 'Open Sans', sans-serif;
  content: 'Enter';
  padding-top: 18px;
  font-size: 18px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(250, 250, 250);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  border-radius: 100%;
  margin-top: 5px;
  margin-left: -2px;
}

.InvItemHeader {
  position: relative;
  float:left;
  padding-top: 20px;
  opacity: .7;
  width: 448px;
  min-width: 320px;
  height: 289px;

}

.displayItemData {
  margin-left: 0px;
  font-weight: bold;
  font-size: 18px;
}

.innerContainerleft .md-button {
  margin-left: 165px;
}

ng-keypad {
  position: relative;
  float: left;
  bottom:100px;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

ng-keypad ng-key {
  position: relative;
  margin: 0px;
  float: left;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  background-color: invisible;
}

/*#clear2 {
  margin-left:20px;
  margin-right:20px;
  margin-bottom: 20px;
  display:inline;
  font-size: 22px;
  border: 2px;
  border-color: black;
  float: left;
  text-align: center;
  width: 90px;
  height: 90px;
  background: #BFCBD1;
}*/

ng-keypad #skey2 {
  margin: 5px;
  font-size: 22px;
  border: 2px;
  border-color: black;
  float: left;
  text-align: center;
  width: 80px;
  height: 80px;
  background: #BFCBD1;
}

#skey2zero {
  margin-left:95px;
  margin-top: 5px;
  font-size: 22px;
  border: 2px;
  border-color: black;
  float: left;
  text-align: center;
  width: 80px;
  height: 80px;
  background: #BFCBD1;
}

ng-keypad #skey2one {
  margin: 5px;
  font-size: 22px;
  border: 2px;
  border-color: black;
  float: left;
  text-align: center;
  width: 80px;
  height: 80px;
  background: #BFCBD1;
}

ng-keypad #zero2 {
  margin-left: auto;
  margin-right: auto;
  font-size: 22px;
  border: 2px;
  border-color: black;
  float: left;
  text-align: center;
  width: 90px;
  height: 90px;
  background: #BFCBD1;
}

ng-keypad ng-key a {
  border-radius: 100%;
  margin-left: -13px;
  margin-top: -8px;
  position: absolute;
  height: 80px;
  width: 80px;
  display: block;
  z-index:4;
}



.one :before {
  content: "";
  padding-top: 8px;
  font-size: 38px;
  color: #31698a;
  display: block;
  width: 70px;
  height: 70px;
  background: invisible;
  /*box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);*/
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.two :before {
  content: "2";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(250, 250, 250);
  /*box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);*/
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.three :before {
  content: "3";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(250, 250, 250);
  /*box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);*/
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.four :before {
  content: "4";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(250, 250, 250);
  /*box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);*/
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.five :before {
  content: "5";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(250, 250, 250);
  /*box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);*/
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.six :before {
  content: "6";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(250, 250, 250);
  /*box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);*/
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.seven :before {
  content: "7";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(250, 250, 250);
  /*box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);*/
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.eight :before {
  content: "8";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(250, 250, 250);
  /*box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);*/
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.nine :before {
  content: "9";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(250, 250, 250);
  /*box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);*/
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.clear :before {
  content: "Clear";
  padding-top: 18px;
  font-size: 22px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(250, 250, 250);
  /*box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);*/
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.clear2 :before {
  content: "Clear";
  padding-top: 18px;
  font-size: 22px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(250, 250, 250);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.zero :before {
  content: "0";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(250, 250, 250);
  /*box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);*/
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.apple :before {
  content: "A";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255,255,255);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.banana :before {
  content: "B";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255,255,255);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.carrot :before {
  content: "C";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255,255,255);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.dog :before {
  content: "D";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255,255,255);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.eagle :before {
  content: "E";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255,255,255);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.ferret :before {
  content: "F";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255,255,255);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.goose :before {
  content: "G";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255,255,255);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.horse :before {
  content: "H";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255,255,255);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.island :before {
  content: "I";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255,255,255);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.jelly :before {
  content: "J";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255,255,255);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.kite :before {
  content: "K";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255,255,255);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.light :before {
  content: "L";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255,255,255);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}
  .moon :before {
  content: "M";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255,255,255);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
  }
  .nerd :before {
  content: "N";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255,255,255);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
  }
  .oak :before {
  content: "O";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255,255,255);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
  }
  .piano :before {
  content: "P";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255,255,255);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
  }

/*-------------------------------*/

a {
  text-decoration: none; }

header span {
  margin-left: 20px; }


  form {
    input {
      color: black;
    }
  }

form input {
  color: black; }

.admin-logout {
  float: right; }

.landing {
  width: 100%;
  height: 91%;
}
  /*.landing #landing-img {
    width: 65%;
    margin: 50px;
    margin-left: 17%;
     }*/



#create-super {
  width: 75%;
  margin: 50px auto; }
#create-super .md-button {
  background-color: #607D8B;
  color: rgba(0, 0, 0, 0.8); }
#create-super .md-button:hover {
  background-color: #455A64;
  color: rgba(255, 255, 255, 0.8); }



#newTech {
  width: 75%;
  margin: 50px auto; }

#techList {
  margin-top: 50px; }


@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}



.admin-login {
  margin-top: 5px;
  margin-left: 50px; }

/* Admin Dashboard Main View
============================ */
.dashboard-admin {
  padding: 15px; }


.md-sidenav-left {
  height: 100vh; }


.data-list ul {
  width: 70%;
  padding-left: 0; }
.data-list ul li {
  list-style-type: none;
  width: 85%;
  padding: 5px 5px 5px 20px;
  margin: 10px auto; }

.md-sidenav-right {
  width: 1100px;
  min-width: 1100px;
  max-width: 1100px; }

.dash-main {
  height: 100vh; }

.user-declare {
  padding-top: 15px;
  float: left; }

.user-logout {
  float: right;
  margin-right: 50px; }

.checkout {
  float: left;
}
.riCheckoutContainer {
  display: flex;
  flex-wrap: wrap;
  float: left;
  width: 100%;
  border-bottom: 5px solid black;
  background: -webkit-linear-gradient(black, grey, black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(black, grey, black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(black, grey, black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(black, grey, black); /* Standard syntax (must be last) */
}

#invInfo {
padding-top: 20px;
}

.tech-header {
  border:1px solid black;
  background: -webkit-linear-gradient(grey, black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(grey, black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(grey, black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(grey, #414141); /* Standard syntax (must be last) */
  border-radius: 0px;
  clear: both;
  width: 100%;
  height: 100%;
  margin-top:0px;
  /*margin: 30px auto 20px auto;*/
  overflow: scroll;
  }

  .tech-headerk {
    border:1px solid black;
    background: -webkit-linear-gradient(grey, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(grey, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(grey, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(grey, #414141); /* Standard syntax (must be last) */
    border-radius: 0px;
    clear: both;
    width: 100%;
    height: 600px;
    margin-top:0px;
    /*margin: 30px auto 20px auto;*/
    }



.tech-left {
  height: 500px;
  margin: 30px auto 10px auto;
  overflow: scroll;
}
  .tech-left table {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 500px;
    /* this can vary */ }
  .tech-left table * {
    box-sizing: inherit;
    -moz-box-sizing: inherit; }
  .tech-left thead {
    display: flex;
    flex-direction: column;
    align-items: stretch; }
  .tech-left tbody {
    overflow-y: scroll;
    display: inline-block; }
  .tech-left thead > tr, .tech-left tbody > tr, .tech-left tfoot > tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
  .tech-left thead, .tech-left tfoot {
    flex-shrink: 0; }
  .tech-left th, .tech-left tbody td {
    width: 20%;
    /* this can vary */
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block; }
  .tech-left tfoot {
    display: inline-block; }
  .tech-left tfoot td {
    width: 100%;
    display: inline-block; }
  .tech-left td input {
    width: 75px; }
  .tech-left #td-button {
    width: 45px; }
    #td-button {
      width: 45px;
    }

/*
    body {
      background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/bg-sky.png);
      background-repeat: repeat !important;
      background-attachment: fixed;
    }*/

    ul.rel-results {
      list-style-type: circle;
    }

    .nojs {
      padding: 2px;
      padding-left: 6px;
      margin-bottom: 5px;
      background: #ff0000;
      color: #ffffff;
      font-size: 15px;
      border: 1px solid #ff0000;
      border-radius: 5px;
    }

    .outerdiv {
      margin-top: 60px;
    }

    .span-style {
      font-size: 17px;
    }

    .search-bar {
      width: 100%;
      max-width: 500px;
      margin-bottom: 25px;
    }

    .bar-style {
      background: #337AB7;
      color: rgb(250, 250, 250);
    }

    .related-results {
      -moz-animation-delay: 1.5s;
      -webkit-animation-delay: 1.5s;
    }

    .span-outer {
      font-size: 20px;
    }

    .outer-p {
      margin-top: 10px;
    }

    .inner-p {
      margin: 2px;
    }

    .outer-p-2 {
      margin-top: 5px;
    }

    .outer-p-3 {
      margin-top: 15px;
    }

    .divider {
      margin: 0 8px 0 8px;
    }

    .divider:before {
      content: "|";
    }

    @media (max-width: 850px) {
      .related-results {
        display: none;
      }
    }


    .icon-trash {

      margin-left: 32px;
      width: 40%;
      height: 80%;
      position: relative;
      overflow: hidden;
    }

    .icon-trash .trash-lid {
      width: 62%;
      height: 10%;
      position: absolute;
      left: 50%;
      margin-left: -31%;
      top: 10.5%;
      background-color: #000;
      border-top-left-radius: 80%;
      border-top-right-radius: 80%;
      -webkit-transform: rotate(-5deg);
      -moz-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
      transform: rotate(-5deg);
    }

    .icon-trash .trash-lid:after {
      content: "";
      width: 26%;
      height: 100%;
      position: absolute;
      left: 50%;
      margin-left: -13%;
      margin-top: -10%;
      background-color: inherit;
      border-top-left-radius: 30%;
      border-top-right-radius: 30%;
      -webkit-transform: rotate(-1deg);
      -moz-transform: rotate(-1deg);
      -ms-transform: rotate(-1deg);
      transform: rotate(-1deg);
    }

    .icon-trash .trash-container {
      width: 56%;
      height: 65%;
      position: absolute;
      left: 50%;
      margin-left: -28%;
      bottom: 10%;
      background-color: #000;
      border-bottom-left-radius: 15%;
      border-bottom-right-radius: 15%;
    }

    .icon-trash .trash-container:after {
      content: "";
      width: 110%;
      height: 12%;
      position: absolute;
      left: 50%;
      margin-left: -55%;
      top: 0;
      background-color: inherit;
      border-bottom-left-radius: 45%;
      border-bottom-right-radius: 45%;
    }

    .icon-trash .trash-line-1 {
      width: 4%;
      height: 50%;
      position: absolute;
      left: 38%;
      margin-left: -2%;
      bottom: 17%;
      background:-webkit-linear-gradient(top, #020202 0%,#5E5E5E 100%);
    }

    .icon-trash .trash-line-2 {
      width: 4%;
      height: 50%;
      position: absolute;
      left: 50%;
      margin-left: -2%;
      bottom: 17%;
      background:-webkit-linear-gradient(top, #020202 0%,#5E5E5E 100%);
    }

    .icon-trash .trash-line-3 {
      width: 4%;
      height: 50%;
      position: absolute;
      left: 62%;
      margin-left: -2%;
      bottom: 17%;
      background:-webkit-linear-gradient(top, #020202 0%,#5E5E5E 100%);
    }

#imgLogout {

}

tbody .squarebtn {
  margin-top: 0px;
  font-weight:lighter;
  font-size:3em;
  position:relative;
  width:125px;
  height:55px;
  border-radius:10px;
  border:1px solid black;
  background:-webkit-linear-gradient(top, #020202 0%,#5E5E5E 100%);
  z-index:2;
}
#mainButtons i{
  font-size: 1.4em;
  line-height:80px;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  margin-left: 7px;
  color:silver;
  z-index:6;
  right: 8px;
}
#mainButtonsDisabled i{
  font-size: 1.4em;
  line-height:80px;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  margin-left: 7px;
  color:grey;
  z-index:6;
  right: 8px;
}



.squarebtn {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  font-weight:lighter;
  font-size:3em;
  position:relative;
  width:17.35%;
  /*min-width: 96px;*/
  height:82.5px;
  border-radius:10px;
  border:1px solid black;
  background:-webkit-linear-gradient(top, #020202 0%,#5E5E5E 100%);
  z-index:2;
}

.squarebtnDisabled {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  font-weight:lighter;
  font-size:3em;
  position:relative;
  width:17.35%;
  min-width: 96px;
  height:82.5px;
  border-radius:10px;
  border:1px solid grey;
  background:-webkit-linear-gradient(top, #020202 0%,grey 100%);
  z-index:2;
}

.squarebtn-left {
  box-shadow:-2px -2px 9px rgba(0, 0, 0, 0.7),
         -4px -4px 20px rgba(0, 0, 0, 0.4);
}

.squarebtn-right {
  box-shadow:2px -2px 9px rgba(0, 0, 0, 0.7),
         4px -4px 20px rgba(0, 0, 0, 0.4);

}
.squarebtn-login {
  box-shadow:2px -2px 9px rgba(0, 0, 0, 0.7),
         4px -4px 20px rgba(0, 0, 0, 0.4);
  float: right;
  margin-right:170px;
  height: 45px;
  width: 95px;
}

.backBtn .squarebtn-login {
  box-shadow:2px -2px 9px rgba(0, 0, 0, 0.7),
         4px -4px 20px rgba(0, 0, 0, 0.4);
  float: right;
  margin-right:265px;
  height: 45px;
  width: 95px;
}
.squarebtn::before {
  content:"";
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  border-top:1px solid #a7ddff;
  border-bottom:1px solid #a7ddff;
  border-radius:10px;
  z-index:3;
}

.squarebtn-left::before {
  border-left:1px solid #3E4970;
  border-right:1px solid #a7ddff;
}

.squarebtn-right::before {
  border-right:1px solid #a7ddff;
  border-left:1px solid #a7ddff;
}
.squarebtn-login::before {
  border-right:1px solid #a7ddff;
  border-left:1px solid #a7ddff;
}
.squarebtn-back::before {
  border-right:1px solid #a7ddff;
  border-left:1px solid #a7ddff;
}
.squarebtn::after {
  content:"";
  position:absolute;
  top:1px;
  bottom:-1px;
  border-radius:10px;
  z-index:1;
}

.squarebtn::after {
  content:"";
  position:absolute;
  top:1px;
  bottom:-1px;
  border-radius:10px;
  z-index:1;
}

.squarebtn-left::after {
  right:-1px;
  left:1px;
  box-shadow:1px 1px 5px rgba(171, 255, 255, 0.8);
}

.squarebtn-right::after {
  right:1px;
  left:-1px;
  box-shadow:-1px 1px 5px rgba(171, 255, 255, 0.8);
}
.squarebtn-login::after {
  right:1px;
  left:-1px;
  box-shadow:-1px 1px 5px rgba(171, 255, 255, 0.8);
}
.squarebtn-back::after {
  right:1px;
  left:-1px;
  box-shadow:-1px 1px 5px rgba(171, 255, 255, 0.8);
}
.squarebtn i {
  font-size: 0.4em;
  line-height:45px;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  margin-left: 3px;
  color:silver;
  z-index:6;
  right: 8px;
  /*text-shadow: -1px -1px 0px rgba(167, 221, 255, .8),1px 1px 2px black;*/
}

.squarebtn i.icon-user {
  right: 3px;
  text-shadow: 1px -1px 0px rgba(167, 221, 255, .8),1px 1px 2px black;
}





    .btn
    {
      font-weight:lighter;
      font-size:3em;
      position:relative;
      margin-left: 15px;
      margin-bottom: 15px;
      float:left;
      width:80px;
      height:80px;
      border-radius:100%;
      border:1px solid black;
      background:-webkit-linear-gradient(top, #020202 0%,#5E5E5E 100%);
      z-index:2;
    }


    .btn-left
    {
      box-shadow:-2px -2px 9px rgba(0, 0, 0, 0.7),
             -4px -4px 20px rgba(0, 0, 0, 0.4);
    }

    .btn-right
    {
      box-shadow:2px -2px 9px rgba(0, 0, 0, 0.7),
             4px -4px 20px rgba(0, 0, 0, 0.4);
    }

    .btn::before
    {
      content:"";
      position: absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
      border-top:1px solid #a7ddff;
      border-bottom:1px solid #a7ddff;
      border-radius:100%;
      z-index:3;
    }

    .btn-left::before
    {
      border-left:1px solid #3E4970;
      border-right:1px solid #a7ddff;
    }

    .btn-right::before
    {
      border-right:1px solid #a7ddff;
      border-left:1px solid #a7ddff;
    }

    .btn::after
    {
      content:"";
      position:absolute;
      top:1px;
      bottom:-1px;
      border-radius:100%;
      z-index:1;
    }

    .btn::after
    {
      content:"";
      position:absolute;
      top:1px;
      bottom:-1px;
      border-radius:100%;
      z-index:1;
    }

    .btn-left::after
    {
      right:-1px;
      left:1px;
      box-shadow:1px 1px 5px rgba(171, 255, 255, 0.8);
    }

    .btn-right::after
    {
      right:1px;
      left:-1px;
      box-shadow:-1px 1px 5px rgba(171, 255, 255, 0.8);
    }

    .back {
  position:relative;
  top:6px;
  left:-12px;
  background:gray;
  width:33px;
  height:33px;
  -webkit-transform:rotate(45deg);
  background: -webkit-linear-gradient(left top,  #2c354e 0%,#576a97 100%);
  z-index:4;
  border-radius: 3px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  box-shadow: -5px 2px 5px rgba(0, 0, 0, 0.4);
}

.back::before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  border-bottom:1px solid #7987B4;
  border-left:1px solid #475380;
  border-radius:3px;
}
.btnword {
  text-transform: uppercase;
  font-size: 20px;
  padding-left:5px;
  margin-top:-2px;
}
.btn i {
  font-size: 1em;
  line-height:85px;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  margin-left: 3px;
  color:silver;
  z-index:6;
  right: 8px;
  text-shadow: -1px -1px 0px rgba(167, 221, 255, .8),1px 1px 2px black;
}

.btn i .enter{
  font-size: .65em;
  line-height:80px;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  margin-left: 10px;
  color:silver;
  z-index:6;
  right: 8px;
  text-shadow: -1px -1px 0px rgba(167, 221, 255, .8),1px 1px 2px black;
}

.btn i .clear{
  font-size: .65em;
  line-height:80px;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  margin-left: 3px;
  color:silver;
  z-index:6;
  right: 8px;
  text-shadow: -1px -1px 0px rgba(167, 221, 255, .8),1px 1px 2px black;
}

.btn i.icon-user {
  right: 3px;
  text-shadow: 1px -1px 0px rgba(167, 221, 255, .8),1px 1px 2px black;
}

h1{
  position:relative;
  margin:0;
  margin-left: 30px;
  width:5.0em;
  color: transparent;
  font: italic 3em "Helvetica Neue";
  font-weight:lighter;
  text-transform: uppercase;
  float: left;
  letter-spacing: -2px;
  /*text-shadow:-1px -1px 0 black, 1px 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 3px 4px rgba(167, 221, 255, 1), 0 -6px 7px rgba(0, 0, 0, 0.5);*/
}

h1::before{
  content:"AutoTrak";
  text-transform:uppercase;
  position:absolute;
  color:#fff;
  left:0;
  right:0;
}

h1::after{
  content:"AutoTrak";
  text-transform:uppercase;
  position:absolute;
  color:#525b73;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  left:0;
  right:0;
}

.menubar{
  z-index: 7;
  position:relative;
  height:75px;
  padding-top:15px;
  box-shadow:0 12px 20px rgba(0,0,0,.9);
  background: -webkit-radial-gradient(center bottom, rgba(192,192,192,0.8) 0%, rgba(192,192,192,0.0) 70%), -webkit-linear-gradient(top, black 0%,#1A1A1A 6%,#B8B8B8 52%,#354262 91%,#000000 100%);
}
.menubar::before{
  content:"";
  position:absolute;
  background:-webkit-radial-gradient(center, rgba(192,192,192,0.8) 0%, rgba(3, 171, 228, 0) 80%);
  bottom:0;
  top:55px;
  left:0px;
  right:0px;
}

.menubar::after{
  content:"";
  position:absolute;
  background:-webkit-radial-gradient(center, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 70%);
  bottom:5px;
  top:76px;
  left:40px;
  right:40px;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: transparent;
}
// Rules for sizing the icon.
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-96 { font-size: 96px; }

// Rules for using icons as black on a light background.
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

// Rules for using icons as white on a dark background.
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

tech-header-login{
border:1px solid black;
background: -webkit-linear-gradient(grey, black); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(grey, black); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(grey, black); /* For Firefox 3.6 to 15 */
background: linear-gradient(grey, #414141); /* Standard syntax (must be last) */
border-radius: 0px;
clear: both;
/*margin: 30px auto 20px auto;*/
overflow: scroll;
}

.adminLoginContainer {
  width: 800px;
  height: 500px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right: auto;
  border: 1px solid black;
  background: -webkit-linear-gradient(black, grey); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(black, grey); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(black, grey); /* For Firefox 3.6 to 15 */
      background: linear-gradient(black, grey); /* Standard syntax (must be last) */
}

.innerLoginFields {
  padding-left: 150px;
  padding-top: 175px;
}
.emailLbl, .passwordLoginLbl {
  margin-top: 10px;
  font-size: 18px;
  color: grey;
}
.emailInput input {
  padding-left: 10px;
  font-size: 22px;
  font-family: sans-serif;
  height: 45px;
  width:485px;
  border-radius: 2px;
  color: silver;
  border: 1px solid black;
  text-shadow: 1px -1px 0px rgba(167, 221, 255, .8),1px 1px 2px black;
  background-color: black;
  opacity: .2;
  /*background: -webkit-linear-gradient(black, grey); /* For Safari 5.1 to 6.0 */
  /*background: -o-linear-gradient(black, grey); /* For Opera 11.1 to 12.0 */
  /*background: -moz-linear-gradient(black, grey); /* For Firefox 3.6 to 15 */
  /*background: linear-gradient(grey, #414141); /* Standard syntax (must be last) */
}
.passwordLoginFld input{
  font-size: 22px;
  padding-left: 10px;
  font-family: sans-serif;
  height: 45px;
  width:485px;
  border-radius: 2px;
  border: 1px solid black;
  text-shadow: 1px -1px 0px rgba(167, 221, 255, .8),1px 1px 2px black;
  background-color: black;
  opacity: .2;
  /*background: -webkit-linear-gradient(black, grey); /* For Safari 5.1 to 6.0 */
  /*background: -o-linear-gradient(black, grey); /* For Opera 11.1 to 12.0 */*/
  /*background: -moz-linear-gradient(black, grey); /* For Firefox 3.6 to 15 */*/
  /*background: linear-gradient(grey, #414141); /* Standard syntax (must be last) */
}

.appTitle {
  position: relative;
  margin-left:150px;
  margin-top: 50px;
  font-size: 30px;
}

.appTitleLocation::after {
  margin-top: 0px;
}

.appTitleLocation {
  position: relative;
  float: left;
}

.appsubTitle{
  position: relative;
  float: left;
  margin-left: 450px;
  color: grey;
}

.buttonMargin {
  /*padding-left: 5px;*/
}
.home {
  width: 210px;
  height: 50px;
  position: relative;
  margin-left: -225px;
  z-index: 9;
  background-color: transparent;
  border: 0px solid transparent;

}
.createAcct {
  color: silver;
  position: relative;
  float: right;
  margin: 5px;
  width: 170px;
  height: 50px;

}
.createAcctBtn {

}
.companyLogin {
  color: silver;
  position: relative;
  float: right;
  margin: 5px;
  width: 170px;
  height: 50px;

}

.containerHomePage {
  width: 100%;
  height: 100%;
  position: relative;
  float: left;
  background-color: white;
}
h3 {
  line-height: 1.4;
  opacity: .7;
  padding-right:22px;
  padding-left: 22px;
  word-wrap: break-word;

}

@-webkit-keyframes fadein {
    0% {line-height: 280px;}
  100% {line-height: 200px;}
}

@-moz-keyframes fadein {
    0% {line-height: 280px;}
  100% {line-height: 200px;}
}
@-o-keyframes fadein {
    0% {line-height: 280px;}
  100% {line-height: 200px;}
}
@keyframes fadein {
    0% {line-height: 280px;}
  100% {line-height: 200px;}
}

.keypadLabels {
  position:relative;
  width: 100%;
  text-align: center;
  font-size: 20px;


}
.rilocationKeypadLabel {
margin-top: 15px;

}
.quantitykeypadLabel {
}
h4 {
  font-size: 24px;
}

#bckgrndIcn {
  position: absolute;
  top: 300px;
  left: 365px;
  opacity: .3;
}

#bckgrndIcnk {
  position: relative;
  opacity: .1;
  width: 100%;
  text-align: center;
}
.ngKeyPad{
  float: left;
  position: relative;
  bottom: 100px;
}
.materialboxed {

}
.navBtns {
  position: relative;

  height: 55px;
  width: 100%;
}
/*//medium+ screen sizes*/
@media (min-width:992px) {
    .desktop-only {
        display:block !important;
    }
}

/*//small screen sizes*/
@media (max-width: 991px) {
    .mobile-only {
        display:block !important;
    }

    .desktop-only {
        display:none !important;
    }
}




@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #ccc; }

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: ""; }
	td:nth-of-type(2):before { content: ""; }
	td:nth-of-type(3):before { content: ""; }
	td:nth-of-type(4):before { content: ""; }
	td:nth-of-type(5):before { content: ""; }
	td:nth-of-type(6):before { content: ""; }
	td:nth-of-type(7):before { content: ""; }
	td:nth-of-type(8):before { content: ""; }
	td:nth-of-type(9):before { content: ""; }
	td:nth-of-type(10):before { content: ""; }
}

.paddingtop30px {
  height: 30px;
  width: 100%;
}

.navContentContainer {
  width: 100%;
  height: 400px;
  padding-left: 15px;
  padding-right: 15px;

}
.navContent {

  width: 33.33%;
  min-width: 320px;
  height:220px;
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  color: silver;
}

.navContentHead {
  font-size: 32px;
}
.navContentBody {
  font-size: 18px;
}

.loginFooter {
  position: relative;
  height: 150px;
  width: 100%;

}
/*.ng-hide:not(.ng-hide-animate) {
     display: inline  !important;
     margin-left: -40px !important;

}*/
