.container {
  width: 100%;
  height: 100%;
  padding: 0;
  background: -webkit-linear-gradient(left,  #0f182b 0%,#2a3b53 33%,#2a3b53 66%,#0f182b 100%);
}

.innerContainer {
  position: relative;
  bottom: 0px;
  width:100%;
  padding:0;
}

.innerContainerleft {
  float: left;
  width: 36%;
  padding:0;
}

.innerContainerright {
  float:left;
  width: 64%;
  margin-left:auto;
  margin-right:auto;
  padding:0;
}


/* Keypad
=============*/
#userNumpadTechMain {
  margin-left: auto;
  margin-right: auto;
}

#displayItem {
  margin-left:40px;
  margin-top:20px;
}

.userNumPad {
  width: 400px;
  height: 520px;
  padding-left: 60px;
  border-radius:  10px;
  border: 1px solid black;

  background: -webkit-linear-gradient(left,  #0f182b 0%,#2a3b53 33%,#2a3b53 66%,#0f182b 100%);
  /*box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);*/
}


.keypad-display {
  direction: ltr;
  font-size: 3em;
  margin: 35px;
  margin-left: 11px;
  padding: 0px -5% 10px 5%;
  width: 245px;
  border: 1px black;
  text-align: center;
  color: transparent;
  font: italic 3em "Helvetica Neue";
  font-weight:light;
  text-transform: uppercase;
  letter-spacing: -3px;
  text-shadow:-1px -1px 0 black, 1px 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 3px 4px rgba(167, 221, 255, 1), 0 -6px 7px rgba(0, 0, 0, 0.5);

}

.keypad-display:disabled {
  background:transparent;
  color: black;
}


/*KeyPad2 -------------------*/


.userNumPad2Display {
  width: 100%;
}

.innerRIKeypadLeft {
  float: left;
  margin-top: 25px;
  width:365px;
}

/*--------------------------*/
.innerRIKeypadRight {
  float: left;
  margin-top: 25px;
  width:275px;
  margin-left: 45px;
  margin-right: 45px;
}
.innerRIKeypadRightZero {
  float:left;
  width: 100%;
}

.executionButtonsContainer {
  width: 100% auto;
  display: inline;
  position: relative;
  bottom: 40px;
}
/*-----------------------------*/
.keypad-display2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  direction: ltr;
  font-size: 3em;
  padding: 0px -5% 10px 5%;
  text-align: center;
  border-radius: 5px;
  width: 325px;
}

.keypad-display2:disabled {
  background: white;
  border: 2px solid #607D8B;
  color: #607D8B;
}
/*------------------------------*/
.innerContainer .innerContainerright .userNumPad2 {
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  margin-left: 15px;
  margin-right: 15px;
  float: left;
  padding-left:40px;
  width: 80% auto;
  height: 100% auto;
  background: #BFCBD1;
  border: 2px solid #607D8B;
  border-radius: 5px;
}

.executionButtonBack {
  width: 300px;
  display: inline;
  position: relative;
}

.userNumPad2 #backbutton {
  margin-bottom: 20px;
  margin-left:20px;
  margin-right:20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  border-radius: 100%;
  color: #607D8B;
  height: 80px;
  width: 80px;
}

.userNumPad2 #backbutton:hover {
  background-color: #607D8B;
  color: white;
}

#backbutton:before {
  font-family: 'Open Sans', sans-serif;
  content: 'Back';
  padding-top: 18px;
  font-size: 18px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(250, 250, 250);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  border-radius: 100%;
  margin-top: 5px;
  margin-left:-2px;
}
#backbutton:hover {
  background-color: #607D8B;
  color: white;
}

.executionButtonClear {
  width: 300px;
  display: inline;
  position: relative;
}

.executionButtonEnter {
  width: 300px;
  display: inline;
  position: relative;
}

.enterbutton {
  margin-bottom: 20px;
  margin-left:20px;
  margin-right:20px;
  position: relative;
  display: inline-block;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  border-radius: 100%;
  color: #607D8B;
  height: 80px;
  width: 80px;
}

.enterbutton:before {
  font-family: 'Open Sans', sans-serif;
  content: 'Enter';
  padding-top: 18px;
  font-size: 18px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(250, 250, 250);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  border-radius: 100%;
  margin-top: 5px;
  margin-left: -2px;
}

.InvItemHeader {
  margin-left:20px;
  animation-duration: 1s;
  animation-name: bounceIn;
}

.displayItemData {
  margin-left: 10px;
  font-weight: bold;
  font-size: 22px;
}

.innerContainerleft .md-button {
  margin-left: 165px;
}

ng-keypad {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

ng-keypad ng-key {
  margin: 0px;
  float: left;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  background-color: invisible;
}

/*#clear2 {
  margin-left:20px;
  margin-right:20px;
  margin-bottom: 20px;
  display:inline;
  font-size: 22px;
  border: 2px;
  border-color: black;
  float: left;
  text-align: center;
  width: 90px;
  height: 90px;
  background: #BFCBD1;
}*/

ng-keypad #skey2 {
  margin: 5px;
  font-size: 22px;
  border: 2px;
  border-color: black;
  float: left;
  text-align: center;
  width: 80px;
  height: 80px;
  background: #BFCBD1;
}

#skey2zero {
  margin-left:95px;
  margin-top: 5px;
  font-size: 22px;
  border: 2px;
  border-color: black;
  float: left;
  text-align: center;
  width: 80px;
  height: 80px;
  background: #BFCBD1;
}

ng-keypad #skey2one {
  margin: 5px;
  font-size: 22px;
  border: 2px;
  border-color: black;
  float: left;
  text-align: center;
  width: 80px;
  height: 80px;
  background: #BFCBD1;
}

ng-keypad #zero2 {
  margin-left: auto;
  margin-right: auto;
  font-size: 22px;
  border: 2px;
  border-color: black;
  float: left;
  text-align: center;
  width: 90px;
  height: 90px;
  background: #BFCBD1;
}

ng-keypad ng-key a {
  border-radius: 100%;
  margin-left: -13px;
  margin-top: -8px;

  position: absolute;
  height: 80px;
  width: 80px;
  display: block;
  z-index:4;
}



.one :before {
  content: "";
  padding-top: 8px;
  font-size: 38px;
  color: #31698a;
  display: block;
  width: 70px;
  height: 70px;
  background: invisible;
  /*box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);*/
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.two :before {
  content: "2";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(250, 250, 250);
  /*box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);*/
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.three :before {
  content: "3";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(250, 250, 250);
  /*box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);*/
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.four :before {
  content: "4";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(250, 250, 250);
  /*box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);*/
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.five :before {
  content: "5";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(250, 250, 250);
  /*box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);*/
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.six :before {
  content: "6";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(250, 250, 250);
  /*box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);*/
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.seven :before {
  content: "7";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(250, 250, 250);
  /*box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);*/
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.eight :before {
  content: "8";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(250, 250, 250);
  /*box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);*/
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.nine :before {
  content: "9";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(250, 250, 250);
  /*box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);*/
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.clear :before {
  content: "Clear";
  padding-top: 18px;
  font-size: 22px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(250, 250, 250);
  /*box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);*/
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.clear2 :before {
  content: "Clear";
  padding-top: 18px;
  font-size: 22px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(250, 250, 250);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.zero :before {
  content: "0";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(250, 250, 250);
  /*box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);*/
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.apple :before {
  content: "A";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255,255,255);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.banana :before {
  content: "B";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255,255,255);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.carrot :before {
  content: "C";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255,255,255);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.dog :before {
  content: "D";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255,255,255);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.eagle :before {
  content: "E";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255,255,255);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.ferret :before {
  content: "F";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255,255,255);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.goose :before {
  content: "G";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255,255,255);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.horse :before {
  content: "H";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255,255,255);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.island :before {
  content: "I";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255,255,255);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.jelly :before {
  content: "J";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255,255,255);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.kite :before {
  content: "K";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255,255,255);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.light :before {
  content: "L";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255,255,255);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}
  .moon :before {
  content: "M";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255,255,255);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
  }
  .nerd :before {
  content: "N";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255,255,255);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
  }
  .oak :before {
  content: "O";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255,255,255);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
  }
  .piano :before {
  content: "P";
  padding-top: 8px;
  font-size: 38px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255,255,255);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
  }

/*-------------------------------*/

a {
  text-decoration: none; }

header span {
  margin-left: 20px; }

form input {
  color: black; }

.admin-logout {
  float: right; }

.landing {
  width: 100%; }
  .landing #landing-img {
    width: 65%;
    margin: 50px;
    margin-left: 17%; }

#create-super {
  width: 75%;
  margin: 50px auto; }
#create-super .md-button {
  background-color: #607D8B;
  color: rgba(0, 0, 0, 0.8); }
#create-super .md-button:hover {
  background-color: #455A64;
  color: rgba(255, 255, 255, 0.8); }

#newTech {
  width: 75%;
  margin: 50px auto; }

#techList {
  margin-top: 50px; }


@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}



.admin-login {
  margin-top: 5px;
  margin-left: 50px; }

/* Admin Dashboard Main View
============================ */
.dashboard-admin {
  padding: 15px; }

.md-sidenav-left {
  height: 100vh; }

.data-list ul {
  width: 70%;
  padding-left: 0; }
.data-list ul li {
  list-style-type: none;
  width: 85%;
  padding: 5px 5px 5px 20px;
  margin: 10px auto; }

.md-sidenav-right {
  width: 1100px;
  min-width: 1100px;
  max-width: 1100px; }

.dash-main {
  height: 100vh; }

.user-declare {
  margin-left: 50px;
  margin-bottom:15px;
  float: left; }

.user-logout {
  float: right;
  margin-right: 50px; }

.checkout {
  float: right;
  margin-right: 50px;
}
.riCheckoutContainer .additem {
  float: right;
  margin-right: 50px;
}

#invInfo {
padding-top: 20px;
}

.tech-header {
  clear: both;
  width: 90%;
  height: 450px;
  margin-top:50px;
  margin: 30px auto 20px auto;
  overflow: scroll; }

.tech-left {
  height: 500px;
  margin: 30px auto 10px auto;
  overflow: scroll; }
  .tech-left table {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 500px;
    /* this can vary */ }
  .tech-left table * {
    box-sizing: inherit;
    -moz-box-sizing: inherit; }
  .tech-left thead {
    display: flex;
    flex-direction: column;
    align-items: stretch; }
  .tech-left tbody {
    overflow-y: scroll;
    display: inline-block; }
  .tech-left thead > tr, .tech-left tbody > tr, .tech-left tfoot > tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
  .tech-left thead, .tech-left tfoot {
    flex-shrink: 0; }
  .tech-left th, .tech-left tbody td {
    width: 20%;
    /* this can vary */
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block; }
  .tech-left tfoot {
    display: inline-block; }
  .tech-left tfoot td {
    width: 100%;
    display: inline-block; }
  .tech-left td input {
    width: 75px; }
  .tech-left #td-button {
    width: 45px; }


/*
    body {
      background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/bg-sky.png);
      background-repeat: repeat !important;
      background-attachment: fixed;
    }*/

    ul.rel-results {
      list-style-type: circle;
    }

    .nojs {
      padding: 2px;
      padding-left: 6px;
      margin-bottom: 5px;
      background: #ff0000;
      color: #ffffff;
      font-size: 15px;
      border: 1px solid #ff0000;
      border-radius: 5px;
    }

    .outerdiv {
      margin-top: 60px;
    }

    .span-style {
      font-size: 17px;
    }

    .search-bar {
      width: 100%;
      max-width: 500px;
      margin-bottom: 25px;
    }

    .bar-style {
      background: #337AB7;
      color: rgb(250, 250, 250);
    }

    .related-results {
      -moz-animation-delay: 1.5s;
      -webkit-animation-delay: 1.5s;
    }



    .span-outer {
      font-size: 20px;
    }

    .outer-p {
      margin-top: 10px;
    }

    .inner-p {
      margin: 2px;
    }

    .outer-p-2 {
      margin-top: 5px;
    }

    .outer-p-3 {
      margin-top: 15px;
    }

    .divider {
      margin: 0 8px 0 8px;
    }

    .divider:before {
      content: "|";
    }

    @media (max-width: 850px) {
      .related-results {
        display: none;
      }
    }


    .icon-trash {
      margin-left:1px;
      width: 28px;
      height: 28px;
      position: relative;
      overflow: hidden;
    }

    .icon-trash .trash-lid {
      width: 62%;
      height: 10%;
      position: absolute;
      left: 50%;
      margin-left: -31%;
      top: 10.5%;
      background-color: #000;
      border-top-left-radius: 80%;
      border-top-right-radius: 80%;
      -webkit-transform: rotate(-5deg);
      -moz-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
      transform: rotate(-5deg);
    }

    .icon-trash .trash-lid:after {
      content: "";
      width: 26%;
      height: 100%;
      position: absolute;
      left: 50%;
      margin-left: -13%;
      margin-top: -10%;
      background-color: inherit;
      border-top-left-radius: 30%;
      border-top-right-radius: 30%;
      -webkit-transform: rotate(-1deg);
      -moz-transform: rotate(-1deg);
      -ms-transform: rotate(-1deg);
      transform: rotate(-1deg);
    }

    .icon-trash .trash-container {
      width: 56%;
      height: 65%;
      position: absolute;
      left: 50%;
      margin-left: -28%;
      bottom: 10%;
      background-color: #000;
      border-bottom-left-radius: 15%;
      border-bottom-right-radius: 15%;
    }

    .icon-trash .trash-container:after {
      content: "";
      width: 110%;
      height: 12%;
      position: absolute;
      left: 50%;
      margin-left: -55%;
      top: 0;
      background-color: inherit;
      border-bottom-left-radius: 45%;
      border-bottom-right-radius: 45%;
    }

    .icon-trash .trash-line-1 {
      width: 4%;
      height: 50%;
      position: absolute;
      left: 38%;
      margin-left: -2%;
      bottom: 17%;
      background-color: white;
    }

    .icon-trash .trash-line-2 {
      width: 4%;
      height: 50%;
      position: absolute;
      left: 50%;
      margin-left: -2%;
      bottom: 17%;
      background-color: white;
    }

    .icon-trash .trash-line-3 {
      width: 4%;
      height: 50%;
      position: absolute;
      left: 62%;
      margin-left: -2%;
      bottom: 17%;
      background-color: white;
    }




    .btn
    {
      font-size:3em;
      position:relative;
      margin-left: 10px;
      margin-top: 10px;
      float:left;
      width:80px;
      height:80px;
      border-radius:100%;
      border:1px solid black;
      background:-webkit-linear-gradient(top,  #2c354e 0%,#576a97 100%);
      z-index:2;
    }


    .btn-left
    {
      box-shadow:-2px -2px 9px rgba(0, 0, 0, 0.7),
             -4px -4px 20px rgba(0, 0, 0, 0.4);
    }

    .btn-right
    {
      box-shadow:2px -2px 9px rgba(0, 0, 0, 0.7),
             4px -4px 20px rgba(0, 0, 0, 0.4);
    }

    .btn::before
    {
      content:"";
      position: absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
      border-top:1px solid #3E4970;
      border-bottom:1px solid #a7ddff;
      border-radius:100%;
      z-index:3;
    }

    .btn-left::before
    {
      border-left:1px solid #3E4970;
      border-right:1px solid #a7ddff;
    }

    .btn-right::before
    {
      border-right:1px solid #3E4970;
      border-left:1px solid #a7ddff;
    }

    .btn::after
    {
      content:"";
      position:absolute;
      top:1px;
      bottom:-1px;
      border-radius:100%;
      z-index:1;
    }

    .btn-left::after
    {
      right:-1px;
      left:1px;
      box-shadow:1px 1px 5px rgba(171, 255, 255, 0.8);
    }

    .btn-right::after
    {
      right:1px;
      left:-1px;
      box-shadow:-1px 1px 5px rgba(171, 255, 255, 0.8);
    }

    .back {
  position:relative;
  top:6px;
  left:-12px;
  background:gray;
  width:33px;
  height:33px;
  -webkit-transform:rotate(45deg);
  background: -webkit-linear-gradient(left top,  #2c354e 0%,#576a97 100%);
  z-index:4;
  border-radius: 3px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  box-shadow: -5px 2px 5px rgba(0, 0, 0, 0.4);
}

.back::before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  border-bottom:1px solid #7987B4;
  border-left:1px solid #475380;
  border-radius:3px;
}
.btnword {
  text-transform: uppercase;
  font-size: 20px;
  padding-left:5px;
  margin-top:-2px;
}
.btn i {
  font-size: 1em;
  line-height:85px;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  text-align:center;
  color:#2B344E;
  z-index:6;
}

.btn i {
  right: 8px;
  text-shadow: -1px -1px 0px rgba(167, 221, 255, .8),1px 1px 2px black;
}

.btn i.icon-user {
  right: 3px;
  text-shadow: 1px -1px 0px rgba(167, 221, 255, .8),1px 1px 2px black;
}

h1{
  position:relative;
  margin:0;
  width:3.7em;
  color: transparent;
  font: italic 3em "Helvetica Neue";
  font-weight:lighter;
  text-transform: uppercase;
  float: left;
  letter-spacing: -6px;
  text-shadow:-1px -1px 0 black, 1px 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 3px 4px rgba(167, 221, 255, 1), 0 -6px 7px rgba(0, 0, 0, 0.5);
}

h1::before{
  content:"AutoTrak";
  text-transform:uppercase;
  position:absolute;
  color:#fff;
  left:0;
  right:0;
}

h1::after{
  content:"AutoTrak";
  text-transform:uppercase;
  position:absolute;
  color:#525b73;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  left:0;
  right:0;
}

.menubar{
  position:relative;
  height:75px;
  padding-top:15px;
  box-shadow:0 12px 20px rgba(0,0,0,.9);
  background: -webkit-radial-gradient(center bottom, rgba(160, 201, 215, 0.8) 0%, rgba(160, 201, 215, 0) 70%), -webkit-linear-gradient(top, black 0%,#282F44 6%,#2C3551 52%,#354262 91%,#050C54 100%);
}
.menubar::before{
  content:"";
  position:absolute;
  background:-webkit-radial-gradient(center, rgba(66, 200, 239, 1) 0%, rgba(3, 171, 228, 0) 80%);
  bottom:0;
  top:85px;
  left:100px;
  right:100px;
}

.menubar::after{
  content:"";
  position:absolute;
  background:-webkit-radial-gradient(center, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 70%);
  bottom:5px;
  top:76px;
  left:40px;
  right:40px;
}
