.container {
  width: 100%;
  padding: 0; }

a {
  text-decoration: none; }

header span {
  margin-left: 20px; }

form input {
  color: black; }

.admin-logout {
  float: right; }

.landing {
  width: 100%; }
  .landing #landing-img {
    width: 65%;
    margin: 50px;
    margin-left: 17%; }

#create-super {
  width: 75%;
  margin: 50px auto; }
  #create-super .md-button {
    background-color: #607D8B;
    color: rgba(0, 0, 0, 0.8); }
  #create-super .md-button:hover {
    background-color: #455A64;
    color: rgba(255, 255, 255, 0.8); }

#newTech {
  width: 75%;
  margin: 50px auto; }

#techList {
  margin-top: 50px; }

/* Number Pad
=============*/
.userNumPad {
  width: 450px;
  height: 580px;
  margin-left: 450px;
  padding-left: 70px;
  background: #BFCBD1;
  /*box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);*/
  border: 2px solid #607D8B;
  border-radius: 5px;



  }

.enterbutton {

  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  border-radius: 100%;
  color: #607D8B;
  height: 80px;
  width: 80px;
}

  .enterbutton:before {
  font-family: 'Open Sans', sans-serif;
  content: 'Enter';
  padding-top: 18px;
  font-size: 18px;
  color: #607D8B;
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(250, 250, 250);
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  border-radius: 100%;
  margin-top: 5px;
  margin-left: -2px;

  }
  /*#backbutton {

    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    border-radius: 100%;
    color: #607D8B;
    height: 80px;
    width: 80px;
  }*/

  #backbutton:before {
    font-family: 'Open Sans', sans-serif;
    content: 'Back';
    padding-top: 18px;
    font-size: 18px;
    color: #607D8B;
    display: block;
    width: 70px;
    height: 70px;
    background: rgb(250, 250, 250);
    box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
    border-radius: 100%;
    margin-top: 5px;
    margin-left: -2px;

    }
#backbutton:hover {
  background-color: #607D8B;
  color: white;
  }

  .userNumPad2 {
    width: 850px;
    height: 580px;
    margin-left: 200px;
    margin-top: 20px;
    padding-left: 70px;
    background: #BFCBD1;
    /*box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);*/
    border: 2px solid #607D8B;
    border-radius: 5px;



    }

  .userNumPad2 .md-button {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    border-radius: 100%;
    color: #607D8B;
    margin-top: -25px;
    height: 80px;
    width: 80px;
  }
  .userNumPad2 #backbutton {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    border-radius: 100%;
    color: #607D8B;
    margin-top: -25px;
    margin-right: 520px;
    height: 80px;
    width: 80px;
  }

  .userNumPad2 .md-button:hover {
    background-color: #607D8B;
    color: white;
    }
    .userNumPad2 #backbutton:hover {
      background-color: #607D8B;
      color: white;
      }
.admin-login {
  margin-top: 15px;
  margin-left: 50px; }

/* Admin Dashboard Main View
============================ */
.dashboard-admin {
  padding: 15px; }

.md-sidenav-left {
  height: 100vh; }

.data-list ul {
  width: 70%;
  padding-left: 0; }
  .data-list ul li {
    list-style-type: none;
    width: 85%;
    padding: 5px 5px 5px 20px;
    margin: 10px auto; }

.md-sidenav-right {
  width: 1100px;
  min-width: 1100px;
  max-width: 1100px; }

.dash-main {
  height: 100vh; }

.user-declare {
  margin-left: 50px;
  float: left; }

.user-logout {
  float: right;
  margin-right: 50px; }

.checkout {
  margin-left: 50px; }

.tech-header {
  clear: both;
  width: 90%;
  height: 500px;
  margin: 30px auto 10px auto;
  overflow: scroll; }

.tech-left {
  height: 500px;
  margin: 30px auto 10px auto;
  overflow: scroll; }
  .tech-left table {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 500px;
    /* this can vary */ }
  .tech-left table * {
    box-sizing: inherit;
    -moz-box-sizing: inherit; }
  .tech-left thead {
    display: flex;
    flex-direction: column;
    align-items: stretch; }
  .tech-left tbody {
    overflow-y: scroll;
    display: inline-block; }
  .tech-left thead > tr, .tech-left tbody > tr, .tech-left tfoot > tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
  .tech-left thead, .tech-left tfoot {
    flex-shrink: 0; }
  .tech-left th, .tech-left tbody td {
    width: 20%;
    /* this can vary */
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block; }
  .tech-left tfoot {
    display: inline-block; }
  .tech-left tfoot td {
    width: 100%;
    display: inline-block; }
  .tech-left td input {
    width: 75px; }
  .tech-left #td-button {
    width: 45px; }
