<div id="create-super" class="md-whiteframe-z1">
  <form ng-submit="superCreate(user)">

    <md-content layout-padding>
        <div layout layout-sm="column">
          <md-input-container style="width:80%">
              <label>Company</label>
              <input ng-model="user.business_user_name">
            </md-input-container>
        </div>

         <md-content md-theme="default" layout-padding layout="row" layout-sm="column">
          <md-input-container style="width:30%">
              <label>Master Email</label>
          <input ng-model="user.business_user_email" type="email">
            </md-input-container>
               <md-input-container style="width:30%">
              <label> Create Master Password</label>
              <input ng-model="user.business_user_password" type="password">
            </md-input-container>
          <md-input-container style="width:30%">
            <label># of Employees</label>
            <input ng-model="user.business_user_cap">
          </md-input-container>
          </md-content>

        <md-input-container flex>
          <label>Address</label>
          <input ng-model="user.business_user_street">
        </md-input-container>
        <div layout layout-sm="column">
          <md-input-container flex>
            <label>City</label>
            <input ng-model="user.business_user_city">
          </md-input-container>
          <md-input-container flex>
            <label>State</label>
            <input ng-model="user.business_user_state">
          </md-input-container>
          <md-input-container flex>
            <label>Postal Code</label>
            <input ng-model="user.business_user_zipcode">
          </md-input-container>
        </div>

        <md-content md-theme="default" layout-padding layout="row" layout-sm="column">
          <md-input-container style="width:40%">
            <label>Business Logo URL</label>
            <input ng-model="user.business_logo">
          </md-input-container>
        </md-content>

        <div layout layout-sm="column">
          <md-input-container flex>
            <label>First name</label>
            <input ng-model="user._employee_first_name">
          </md-input-container>
          <md-input-container flex>
            <label>Last Name</label>
            <input ng-model="user.employee_last_name">
          </md-input-container>
        </div>

        <md-content md-theme="default" layout-padding layout="row" layout-sm="column">
          <md-input-container style="width:45%">
              <label>Submit User Email</label>
          <input ng-model="user.employee_email" type="email">
            </md-input-container>
               <md-input-container style="width:45%">
              <label> Create User Password</label>
              <input ng-model="user.employee_password" type="password">
            </md-input-container>
        </md-content>
        <md-content md-theme="default" layout-padding layout="row" layout-sm="column">
          <md-input-container style="width:45%">
              <label>Pin Numer</label>
          <input ng-model="user.employee_pin" type="password">
          </md-input-container>

        </md-content>
        <md-content md-theme="default" layout-padding layout="row" layout-sm="column">
          <md-input-container style="width:45%">
              <label>Employee Access Rights</label>
          <input ng-model="user.employee_access_rights">
            </md-input-container>
               <md-input-container style="width:45%">
              <label> Employee Number</label>
              <input ng-model="user.employee_number">
            </md-input-container>
        </md-content>





        <md-button ng-click="superCreate()" class="md-primary">
          Add
        </md-button>
    </md-content>
  </form>
</div>

        <!-- <div layout layout-sm="column">
          <md-input-container flex>
            <label>First name</label>
            <input ng-model="user.firstName">
          </md-input-container>
          <md-input-container flex>
            <label>Last Name</label>
            <input ng-model="user.lastName">
          </md-input-container>
        </div> -->

