<div id="create-super" class="md-whiteframe-z4">
  <form>

    <md-content layout-padding>
        <div layout layout-sm="column">
          <md-input-container style="width:80%">
              <label>Company</label>
              <input ng-model="user.business_user_name">
            </md-input-container>
        </div>

         <md-content md-theme="default" layout-padding layout="row" layout-sm="column">
          <md-input-container style="width:30%">
              <label>Master Email</label>
          <input ng-model="user.business_user_email" type="email">
            </md-input-container>
               <md-input-container style="width:30%">
              <label> Create Master Password</label>
              <input ng-model="user.business_user_password" type="password">
            </md-input-container>
          <md-input-container style="width:30%">
            <label># of Employees</label>
            <input ng-model="user.business_user_cap">
          </md-input-container>
          </md-content>

        <md-input-container flex>
          <label>Address</label>
          <input ng-model="user.business_user_street">
        </md-input-container>
        <div layout layout-sm="column">
          <md-input-container flex>
            <label>City</label>
            <input ng-model="user.business_user_city">
          </md-input-container>
          <md-input-container flex>
            <label>State</label>
            <input ng-model="user.business_user_state">
          </md-input-container>
          <md-input-container flex>
            <label>Postal Code</label>
            <input ng-model="user.business_user_zipcode">
          </md-input-container>
        </div>

        <md-content md-theme="default" layout-padding layout="row" layout-sm="column">
          <md-input-container style="width:40%">
            <label>Business Logo URL</label>
            <input ng-model="user.business_logo">
          </md-input-container>
        </md-content>
        <md-button ng-click="superCreate(user)" class="md-primary">
          Add
        </md-button>
    </md-content>
  </form>
</div>

