<h2>Add Customer</h2>
<div id="create-super" class="md-whiteframe-z1">
  <form>
    <div layout layout-sm="column">
      <md-input-container flex>
        <label>First name</label>
        <input ng-model="customer.client_first_name">
      </md-input-container>
      <md-input-container flex>
        <label>Last Name</label>
        <input ng-model="customer.client_last_name">
      </md-input-container>
    </div>

      <md-input-container flex>
        <label>Address</label>
        <input ng-model="customer.client_street_address">
      </md-input-container>
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>City</label>
          <input ng-model="customer.client_city">
        </md-input-container>
        <md-input-container flex>
          <label>State</label>
          <input ng-model="customer.client_state">
        </md-input-container>
        <md-input-container flex>
          <label>Postal Code</label>
          <input ng-model="customer.client_zipcode">
        </md-input-container>
      </div>

      <md-content md-theme="default" layout-padding layout="row" layout-sm="column">
        <md-input-container flex>
          <label>Primary Phone #</label>
          <input ng-model="customer.client_primary_phone">
          </md-input-container>
        <md-input-container flex>
          <label>Secondary Phone #</label>
          <input ng-model="customer.client_secondary_phone">
        </md-input-container>
        <md-input-container flex>
          <label>Email</label>
          <input ng-model="customer.client_email">
        </md-input-container>
      </md-content>
      <md-button ng-click="customerCreate(customer)" class="md-primary">
        Add
      </md-button>
    </md-content>
  </form>
</div>
