<h2>Customers</h2>
<div class="data-list">
    <ul class="md-whiteframe-z1">
      <li ng-repeat="c in customers" class="md-whiteframe-z2">
        <p><a href="/#/admin/dashboard/employee/{{ c.id }}">Name: {{ c.client_first_name }} {{ c.client_last_name }}</a>
          <br>Street: {{ c.client_street_address }}
          <br>City: {{ c.client_city }} State: {{ c.client_state }}, Zipcode: {{ c.client_zipcode }}
          <br>Primary Phone: {{ c.client_primary_phone }}
          <br>Secondary Phone: {{ c.client_secondary_phone }}
          <br>Email: {{ c.client_email }}
        </p>
      <md-fab-toolbar md-open="demo.isOpen" count="demo.count" ng-class="demo.selectedAlignment">
        <md-fab-trigger class="align-with-text">
        <md-button aria-label="menu" class="md-fab md-primary">
          <md-icon md-svg-src="../assets/ic_list_white_24px.svg"></md-icon>
        </md-button>
        </md-fab-trigger>
        <md-toolbar>
          <md-fab-actions class="md-toolbar-tools">
            <md-button aria-label="edit" class="md-icon-button" ng-click="employeeEdit(id)">
              <md-icon md-svg-src="../assets/ic_mode_edit_white_24px.svg"></md-icon>
            </md-button>
            <md-button aria-label="delete" class="md-icon-button">
              <md-icon md-svg-src="../assets/ic_remove_circle_outline_white_24px.svg"></md-icon>
            </md-button>
          </md-fab-actions>
        </md-toolbar>
      </md-fab-toolbar>
      </li>
    </ul>
  </div>
