<header class="md-whiteframe-z3">
  <div class="menubar">
      <div ng-controller="HomeCtrl" class="container">
        <h1>Autotrak</h1>
        <md-button class="home" ng-click="home()"></md-button>
      </div>
    </div>
</header>
<div class="container">
  <div class="innerContainerleft">

    <div class="InvItemHeader">
      <h3>This is a list of all repair items that have been checked out for this repair order.</h3>
      <h3>You have the option to return item(s) back to inventory, or you may checkout additional item(s) if necessary.</h3>
      <h3>To go back to checkout, hit <i class="material-icons md-24">shopping_cart</i>.</h3>

    </div>
  </div>
  <div class=innerContainerright>
    <div class="tech-header md-whiteframe-z3">
      <table st-table="displayed" class="table table-striped">
       <thead>
         <tr>
           <th class="text-center" st-ratio="20" st-sort="RepairO">Part#</th>
           <th class="text-center" st-ratio="10" st-sort="Part">Part</th>
           <th class="text-center" st-ratio="30" st-sort="PartNum">Supplier</th>
           <th class="text-center" st-ratio="30" st-sort="Location">Location</th>
           <th class="text-center" st-ratio="20" st-sort="stock">Quantity</th>
           <th class="text-center" st-ratio="20" st-sort="returnItem">Return Item</th>
           <th class="text-center" st-ratio="20" st-sort="addItem">Add Item</th>
         </tr>
       </thead>
       <tbody>
         <tr ng-repeat="h in repairItemsHistory">
           <td style="vertical-align:middle" st-ratio="20">{{h.inventory_item.business_part_number}}</td>
           <td style="vertical-align:middle" st-ratio="10">{{h.inventory_item.part_name}}</td>
           <td style="vertical-align:middle" st-ratio="20">{{h.inventory_item.inventory_item_supplier}}</td>
           <td style="vertical-align:middle" st-ratio="20">{{h.inventory_item.inventory_item_location}}</td>
           <td style="vertical-align:middle" st-ratio="30">{{h.repair_item_quantity}}</td>
           <td style="vertical-align:middle" st-ratio="5"><md-button class='squarebtn squarebtn-right' ng-click="getRepairItem(h.id)">
             <i class="material-icons md-48">remove_circle</i>
           </md-button></td>
           <td st-ratio="5"><md-button class='squarebtn squarebtn-right' ng-click="getRepairItem(h.id)">
             <i class="material-icons md-48">add_circle</i>
           </md-button></td>
         </tr>
       </tbody>


       <tfoot>
         <tr>
           <td colspan="7" class="text-center">
             <div st-items-by-page="20" st-pagination=""></div>
           </td>
         </tr>
       </tfoot>
     </table>
    </div>
  </div>
  <div class="riCheckoutContainer">
    <md-button id="mainButtons" class="squarebtn squarebtn-right" ng-click="checkoutScreen()"><i class="material-icons md-48">shopping_cart</i></md-button>
    <md-button id="mainButtons" class="squarebtn squarebtn-right" ng-click="riLocationScreen()"><i class="material-icons md-48">add_shopping_cart</i></md-button>
    <md-button id="mainButtons" class="squarebtn squarebtn-right" ng-click="searchScreen()"><i class="material-icons md-48">search</i></md-button>
    <md-button id="mainButtonsDisabled" class="squarebtnDisabled squarebtn-right" disabled><i class="material-icons md-48">folder</i></md-button>
    <md-button id="mainButtonsDisabled" class="squarebtnDisabled squarebtn-right" disabled><i class="material-icons md-48">check</i></md-button>
  </div>
</div>
