<div class="user-declare">Repair Items History for RO#:</div>
<div class="user-logout md-whiteframe-z3 md-default">
  <md-button ng-click="logout()">Logout</md-button>
</div>
<div class="tech-header md-whiteframe-z3">
   <table st-table="displayed" class="table table-striped">
    <thead>
      <tr>
        <th st-ratio="20" st-sort="RepairO">Part#</th>
        <th st-ratio="10" st-sort="Part">Part</th>
        <th st-ratio="30" st-sort="PartNum">Supplier</th>
        <th st-ratio="20" st-sort="stock">Quantity</th>
        <th st-ratio="20" st-sort="returnItem">Return Item</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="h in repairItemsHistory">
        <td st-ratio="20">{{h.inventory_item.business_part_number}}</td>
        <td st-ratio="10">{{h.inventory_item.part_name}}</td>
        <td st-ratio="20">{{h.inventory_item.inventory_item_supplier}}</td>
        <td st-ratio="30">{{h.repair_item_quantity}}</td>
        <td st-ratio="5"><md-button id="checkoutmdbutton" ng-click="getRepairItem(h.id)">
          -
        </md-button></td>
      </tr>
    </tbody>


    <tfoot>
      <tr>
        <td colspan="5" class="text-center">
          <div st-items-by-page="20" st-pagination=""></div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
