<header class="md-whiteframe-z3">
  <div class="menubar">
      <div ng-controller="HomeCtrl" class="container">
        <h1>Autotrak</h1>
        <md-button class="home" ng-click="home()"></md-button>
      </div>
    </div>
</header>
<div class="container">
  <div class="innerContainerleft">
    <div class="InvItemHeader">
      <h3>This is a list of all items pending for checkout.</h3>
      <h3> To checkout a repair item by location, hit <i class="material-icons md-24">add_shopping_cart</i>.</h3>
      <h3>To search for a repair item, hit <i class="material-icons md-24">search</i>.</h3>
      <h3>To return item(s) back to inventory you can view the history of all items checked out by hitting <i class="material-icons md-24">folder</i>.</h3>
      <h3>To check out the items listed and logout, hit <i class="material-icons md-24">check</i>.</h3>
      <h3>To go back to open repair orders, hit <i class="material-icons md-24">time_to_leave</i>.</h3>
    </div>
  </div>
  <div class=innerContainerright>
    <div class="tech-header md-whiteframe-z3">
       <table st-table="displayed" class="table table-striped">
        <thead>
          <tr>
            <th class="text-center" st-ratio="15" st-sort="PartNum">Item #</th>
            <th class="text-center" st-ratio="20" st-sort="Part">Item</th>
            <th class="text-center" st-ratio="15" st-sort="Location">Location</th>
            <th class="text-center" st-ratio="25" st-sort="Quantity">Quantity</th>
            <th class="text-center" st-ratio="5" st-sort="Location">Edit</th>
            <th class="text-center" st-ratio="5" st-sort="Quantity">Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="r in repairCheckout">
            <td style="vertical-align:middle" st-ratio="15">{{r.inventory_item.business_part_number}}</td>
            <td style="vertical-align:middle" st-ratio="20">{{r.inventory_item.part_name}}</td>
            <td style="vertical-align:middle" st-ratio="15">{{r.inventory_item.inventory_item_location}}</td>
            <td style="vertical-align:middle" st-ratio="25">{{r.repair_item_quantity}}</td>
            <td st-ratio="5"><md-button class='squarebtn squarebtn-right' ng-click="updateRepairItem(r.id)">
              <md-icon md-svg-src="../assets/ic_mode_edit_black_24px.svg"></md-icon>
            </md-button></td>
            <td st-ratio="5"><md-button class='squarebtn squarebtn-right' ng-click="deleteRepairItem(r.id)"><div class="icon-trash" style="float: left">
              <div class="trash-lid" style="background-color: #607D8B"></div>
              <div class="trash-container" style="background-color: #607D8B"></div>
              <div class="trash-line-1"></div>
              <div class="trash-line-2"></div>
              <div class="trash-line-3"></div>
            </div></md-button></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6" class="text-center">
              <div st-items-by-page="20" st-pagination=""></div>
            </td>
          </tr>
        </tfoot>
      </table>
      <i id="bckgrndIcn" class="material-icons md-96">shopping_cart</i>
    </div>
  </div>
  <div class="riCheckoutContainer">
    <md-button id="mainButtons" class="squarebtn squarebtn-right" ng-click="logout()"><i class="material-icons md-48">time_to_leave</i></md-button>
    <md-button id="mainButtons" class="squarebtn squarebtn-right" ng-click="riLocationScreen()"><i class="material-icons md-48">add_shopping_cart</i></md-button>
    <md-button id="mainButtons" class="squarebtn squarebtn-right" ng-click="searchScreen()"><i class="material-icons md-48">search</i></md-button>
    <md-button id="mainButtons" class="squarebtn squarebtn-right" ng-click="getHistory()"><i class="material-icons md-48">folder</i></md-button>
    <md-button id="mainButtons" class="squarebtn squarebtn-right" ng-click="itemCheckout(r)"><i class="material-icons md-48">check</i></md-button>
  </div>
</div>
