<header class="md-whiteframe-z3">
  <div class="menubar">
      <div ng-controller="HomeCtrl" class="container">
        <h1>Autotrak</h1>
        <md-button class="home" ng-click="home()"></md-button>
      </div>
    </div>
</header>
<div class="innerContainer">
<div class="innerContainerleft">
<div class="InvItemHeader">
  <h3>This is a list of all repair orders assigned to you.</h3>
  <h3>Select the repair order you would like to add a repair item to.</h3>
  <h3>To logout, hit <i class="material-icons md-24">person_pin</i>.</h3>

</div>

</div>
<div class="innerContainerright">
<div class="tech-header">
  <table st-table="displayed" class="table table-striped">
    <thead>
      <tr>
        <th class="text-center" st-ratio="20" st-sort="year">Year</th>
        <th class="text-center" st-ratio="20" st-sort="vehicle">Vehicle</th>
        <th class="text-center" st-ratio="20" st-sort="model">Model</th>
        <th class="text-center" st-ratio="20" st-sort="lastName">Client</th>
        <th class="text-center" st-ratio="20" st-sort="repairOrder">Repair Order</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="j in job">
        <td style="vertical-align:middle" st-ratio="20">{{j.vehicle.vehicle_year}}</td>
        <td style="vertical-align:middle" st-ratio="20">{{j.vehicle.vehicle_type}}</td>
        <td style="vertical-align:middle" st-ratio="20">{{j.vehicle.vehicle_model}}</td>
        <td style="vertical-align:middle" st-ratio="20">{{j.client.client_last_name}}</td>
        <td st-ratio="20"><md-button class='squarebtn squarebtn-right' ng-click="getRO(j)"><i>{{j.repair_order.repair_order_number}}</i></md-button></td>
      </tr></div>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5" class="text-center">
          <div st-items-by-page="20" st-pagination=""></div>
        </td>
      </tr>
    </tfoot>
  </table>
  <i id="bckgrndIcn" class="material-icons md-96">time_to_leave</i>
</div>
</div>
  <div class="riCheckoutContainer">
    <md-button id="mainButtons" class="squarebtn squarebtn-right" ng-click="logout()"><i class="material-icons md-48">person_pin</i></md-button>
    <md-button id="mainButtonsDisabled" class="squarebtnDisabled squarebtn-right" disabled><i class="material-icons md-48">add_shopping_cart</i></md-button>
    <md-button id="mainButtonsDisabled" class="squarebtnDisabled squarebtn-right" disabled><i class="material-icons md-48">search</i></md-button>
    <md-button id="mainButtonsDisabled" class="squarebtnDisabled squarebtn-right" disabled><i class="material-icons md-48">folder</i></md-button>
    <md-button id="mainButtonsDisabled" class="squarebtnDisabled squarebtn-right" disabled><i class="material-icons md-48">check</i></md-button>
  </div>
</div>
