<div class="innerContainer">
<div class="innerContainerleft">
<div class="user-declare">
  <h3>These are the open Repair Orders that are assigned to you.  Select the Repair Order that your repair item(s) will belong to.</h3>
</div>

</div>
<div class="innerContainerright">
<div class="tech-header">
  <table st-table="displayed" class="table table-striped">
    <thead>
      <tr>
        <th class="text-center" st-ratio="20" st-sort="year">Year</th>
        <th class="text-center" st-ratio="20" st-sort="vehicle">Vehicle</th>
        <th class="text-center" st-ratio="20" st-sort="model">Model</th>
        <th class="text-center" st-ratio="20" st-sort="lastName">Client</th>
        <th class="text-center" st-ratio="20" st-sort="repairOrder">Repair Order</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="j in job">
        <td style="vertical-align:middle" st-ratio="20">{{j.vehicle.vehicle_year}}</td>
        <td style="vertical-align:middle" st-ratio="20">{{j.vehicle.vehicle_type}}</td>
        <td style="vertical-align:middle" st-ratio="20">{{j.vehicle.vehicle_model}}</td>
        <td style="vertical-align:middle" st-ratio="20">{{j.client.client_last_name}}</td>
        <td st-ratio="20"><md-button class='squarebtn squarebtn-right' ng-click="getRO(j)"><i>{{j.repair_order.repair_order_number}}</i></md-button></td>
      </tr></div>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5" class="text-center">
          <div st-items-by-page="20" st-pagination=""></div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
</div>
  <div class="riCheckoutContainer">
    <md-button id="mainButtons" class="squarebtn squarebtn-right" ng-click="logout()"><i class="material-icons md-48">person_pin</i></md-button>
    <md-button id="mainButtonsDisabled" class="squarebtnDisabled squarebtn-right" disabled><i class="material-icons md-48">add_shopping_cart</i></md-button>
    <md-button id="mainButtonsDisabled" class="squarebtnDisabled squarebtn-right" disabled><i class="material-icons md-48">search</i></md-button>
    <md-button id="mainButtonsDisabled" class="squarebtnDisabled squarebtn-right" disabled><i class="material-icons md-48">folder</i></md-button>
    <md-button id="mainButtonsDisabled" class="squarebtnDisabled squarebtn-right" disabled><i class="material-icons md-48">check</i></md-button>
  </div>
</div>
