
<div class="innerContainer">

  <div ng-controller="QuantityCtrl as vm">
    <div class="innerContainerleft">
      <div class="InvItemHeader">
        <h3>Select A Repair Item Quantity</h3>
      </div>
      <div id="displayItem">
        <tbody>
          <tr ng-model="repairitem">
            <h4><td>{{repairitem.part_name}}</td></h4><br>
            <td><span data-id="{{repairitem.id}}">Location: <div class="displayItemData">{{repairitem.inventory_item_location}}</div></span></td>
            <br><td>ID: <div class="displayItemData">{{repairitem.business_part_number}}</div></td>
            <br><td>Supplier: <div class="displayItemData">{{repairitem.inventory_item_supplier}}</div></td>
            <br><td>On Hand Quantity: <div class="displayItemData">{{repairitem.inventory_count}}</div></td><br>
          </tr>
        </tbody>
      </div>
    </div>
    <div class="innerContainerright">
      <div class="tech-header md-whiteframe-z3">
        <div class="numpad3">
        <input class="keypad-display3" type="Text" ng-model="vm.itemQuantity" placeholder="Enter Quantity..." disabled/>
        <ng-keypad on-key-pressed='vm.onKeyPressed'>
          <ng-key class='btn btn-right' ng-key-data="1"><i>1</i></ng-key>
          <ng-key class='btn btn-right' ng-key-data="2"><i>2</i></ng-key>
          <ng-key class='btn btn-right' ng-key-data="3"><i>3</i></ng-key>
          <ng-key class='btn btn-right' ng-key-data="4"><i>4</i></ng-key>
          <ng-key class='btn btn-right' ng-key-data="5"><i>5</i></ng-key>
          <ng-key class='btn btn-right' ng-key-data="6"><i>6</i></ng-key>
          <ng-key class='btn btn-right' ng-key-data="7"><i>7</i></ng-key>
          <ng-key class='btn btn-right' ng-key-data="8"><i>8</i></ng-key>
          <ng-key class='btn btn-right' ng-key-data="9"><i>9</i></ng-key>
          <ng-key class='btn btn-right' ng-key-data='"<"'><i><div class="clear">Clear</div></i></ng-key>
          <ng-key class='btn btn-right' ng-key-data="0"><i>0</i></ng-key>
        </ng-keypad>
      </div>
    </div>
    </div>
    <div class="riCheckoutContainer">
      <md-button id="mainButtons" class="squarebtn squarebtn-right" ng-click="logout()"><i class="material-icons md-48">time_to_leave</i></md-button>
      <md-button id="mainButtons" class="squarebtn squarebtn-right" ng-click="riLocationScreen()"><i class="material-icons md-48">add_shopping_cart</i></md-button>
      <md-button id="mainButtonsDisabled" class="squarebtnDisabled squarebtn-right" disabled><i class="material-icons md-48">search</i></md-button>
      <md-button id="mainButtonsDisabled" class="squarebtnDisabled squarebtn-right" disabled><i class="material-icons md-48">folder</i></md-button>
      <md-button id="mainButtons" class="squarebtn squarebtn-right" ng-click="addQuantity(vm.itemQuantity)"><i class="material-icons md-48">check</i></md-button>
    </div>
  </div>
</div>
