<div class="admin-login">
  <md-button class="md-whiteframe-z2 admin-login" ui-sref="adminLogin">Admin Login</md-button>
</div>

<div ng-controller="UserCtrl as vm">
  <div class="userNumPad md-whiteframe-z1">
    <input class="keypad-display" type="password" ng-model="vm.employee_pin" placeholder="Enter Pin..." disabled/>
    <ng-keypad on-key-pressed='vm.onKeyPressed'>
      <ng-key class='one' ng-key-data="1">1</ng-key>
      <ng-key class='two' ng-key-data="2">2</ng-key>
      <ng-key class='three' ng-key-data="3">3</ng-key>
      <ng-key class='four' ng-key-data="4">4</ng-key>
      <ng-key class='five' ng-key-data="5">5</ng-key>
      <ng-key class='six' ng-key-data="6">6</ng-key>
      <ng-key class='seven' ng-key-data="7">7</ng-key>
      <ng-key class='eight' ng-key-data="8">8</ng-key>
      <ng-key class='nine' ng-key-data="9">9</ng-key>
      <ng-key class='clear' ng-key-data='"<"'>clear</ng-key>
      <ng-key class='zero'ng-key-data="0">0</ng-key>
    <md-button class='enterbutton' ng-click="keypadEnt(vm)">Enter</md-button>
    </ng-keypad>
  </div>
</div>
