<header class="md-whiteframe-z3">
  <div class="menubar">
      <div ng-controller="HomeCtrl" class="container">
        <h1>Autotrak</h1>
        <md-button class="home" ng-click="home()"></md-button>
      </div>
    </div>
</header>
<h2>Inventory</h2>
<div class="data-list">
    <ul class="md-whiteframe-z1">
      <li ng-repeat="i in inventory" class="md-whiteframe-z2">
        <p><a href="/#/admin/dashboard/employee/{{ c.id }}">Part Name: {{ i.part_name }} Part #: {{ i.part_number }}</a>
          <br>Stock #: {{ i.business_part_number }}
          <br>Category: {{ i.category }} Item Location: {{ i.inventory_item_location }}, Supplier: {{ i.inventory_item_supplier }}
          <br>Reorder Alert: {{ i.reorder_alert }}, Order to Quantity: {{ i.order_to_quantity }}, Inventory Count: {{ i.inventory_count }}
          <br>Billable: {{ i.inventory_item_billable }}, Taxable: {{ i.inventory_item_taxable }}, Cost: {{ i.inventory_item_cost }}, Markup: {{ i.inventory_item_markup }}
        </p>
      <!-- <md-fab-toolbar md-open="demo.isOpen" count="demo.count" ng-class="demo.selectedAlignment">
        <md-fab-trigger class="align-with-text">
        <md-button aria-label="menu" class="md-fab md-primary">
          <md-icon md-svg-src="../assets/ic_list_white_24px.svg"></md-icon>
        </md-button>
        </md-fab-trigger>
        <md-toolbar>
          <md-fab-actions class="md-toolbar-tools">
            <md-button aria-label="edit" class="md-icon-button" ng-click="employeeEdit(id)">
              <md-icon md-svg-src="../assets/ic_mode_edit_white_24px.svg"></md-icon>
            </md-button>
            <md-button aria-label="delete" class="md-icon-button">
              <md-icon md-svg-src="../assets/ic_remove_circle_outline_white_24px.svg"></md-icon>
            </md-button>
          </md-fab-actions>
        </md-toolbar>
      </md-fab-toolbar> -->
      </li>
    </ul>
  </div>
