<div class=adminLoginContainer>
  <div class="tech-header-login md-whiteframe-z3">
    <form>
      <div class="appTitle">
        <h1 class="appTitleLocation">Autotrak</h1>
      </div>
      <div class="appsubTitle">
        <label>Administrative Login</label>
      </div>
      <div class="innerLoginFields">
          <div class="emailLbl">
            <label>Login Email</label>
          </div>
          <div class="emailInput">
            <input ng-model="user.employee_email" type="email"/>
          </div>
          <div class="passwordLoginLbl">
            <label>Password</label>
          </div>
          <div class="passwordLoginFld">
            <input ng-model="user.employee_password" type="password">
          </div>

          <md-button class="squarebtn squarebtn-login" ng-click="loginAdmin(user)"><i>Login</i></md-button>

      </div>
    </form>
  </div>

<div>
  <div class="backBtn">
    <md-button class="squarebtn squarebtn-login" ng-click="toKeypad()"><i class="material-icons md-48">time_to_leave</i></md-button>
  </div>
</div>
