<div id="create-super" class="md-whiteframe-z4">
  <form>
    <div>
      <md-content md-theme="default" layout-padding layout="row" layout-sm="column">
        <md-input-container style="width:45%">
          <label>Please Enter Company User Name</label>
          <input ng-model="user.business_username" type="text">
        </md-input-container>
        <md-input-container style="width:45%">
          <label> Please Enter Password</label>
          <input ng-model="user.business_user_password" type="password">
        </md-input-container>
      </div>
      <div>
        <md-button ng-click="loginMain(user)" class="md-primary">
        Login
        </md-button>
      </div>
    </md-content>
  </form>
</div>
