<header class="md-whiteframe-z3">
  <div class="menubar">
      <div ng-controller="HomeCtrl" class="container">
        <h1>Autotrak</h1>
        <md-button class="home" ng-click="home()"></md-button>
      </div>
    </div>
</header>
<div class="innerContainer">

  <div ng-controller="RiLocationCtrl as vm">
    <div class="innerContainerleft">
      <div class="InvItemHeader">
        <h3>Enter the location of the repair item you would like to checkout, and hit enter.</h3><h3>When ready to proceed, hit the <i class="material-icons md-28">check</i> button.</h3>
        <h3>To go back to checkout, hit <i class="material-icons md-28">shopping_cart</i>.</h3>

      </div>
      <div id="displayItem">
        <tbody>
          <tr ng-model="inventoryitem">
            <h4><td><i class="material-icons md-24">build</i> &nbsp{{inventoryitem.part_name}}</td></h4>
            <td><span data-id="{{inventoryitem.id}}"><div class="displayItemData">Location:  &nbsp&nbsp {{inventoryitem.inventory_item_location}}</div></span></td>
            <td><div class="displayItemData">Item ID: &nbsp&nbsp{{inventoryitem.business_part_number}}</div></td>
            <td><div class="displayItemData">Supplier: &nbsp&nbsp{{inventoryitem.inventory_item_supplier}}</div></td>
            <td><div class="displayItemData">Quantity On Hand: &nbsp&nbsp{{inventoryitem.inventory_count}}</div></td>

          </tr>
        </tbody>
      </div>
    </div>
    <div class="innerContainerright">
      <div class="tech-header md-whiteframe-z3">
          <div class="userNumPad2Display">
            <div class="keypadLabels">
              <label class="rilocationKeypadLabel">Repair Item Location</label>
            </div>
            <input class="keypad-display2" type="string" ng-model="vm.ri_location" placeholder="" disabled/>
          </div>
        <ng-keypad on-key-pressed='vm.onKeyPressed'>
          <div class="innerRIKeypadLeft">
            <ng-key class='btn btn-right' ng-key-data='"A"'><i>A<i></ng-key>
            <ng-key class='btn btn-right' ng-key-data='"B"'><i>B<i></ng-key>
            <ng-key class='btn btn-right' ng-key-data='"C"'><i>C<i></ng-key>
            <ng-key class='btn btn-right' ng-key-data='"D"'><i>D<i></ng-key>
            <ng-key class='btn btn-right' ng-key-data='"E"'><i>E<i></ng-key>
            <ng-key class='btn btn-right' ng-key-data='"F"'><i>F<i></ng-key>
            <ng-key class='btn btn-right' ng-key-data='"G"'><i>G<i></ng-key>
            <ng-key class='btn btn-right' ng-key-data='"H"'><i>H<i></ng-key>
            <ng-key class='btn btn-right' ng-key-data='"I"'><i>I<i></ng-key>
            <ng-key class='btn btn-right' ng-key-data='"J"'><i>J<i></ng-key>
            <ng-key class='btn btn-right' ng-key-data='"K"'><i>K<i></ng-key>
            <ng-key class='btn btn-right' ng-key-data='"L"'><i>L<i></ng-key>
          </div>
          <div class="innerRIKeypadRight">
            <ng-key class='btn btn-right' ng-key-data="1"><i>1</i></ng-key>
            <ng-key class='btn btn-right' ng-key-data="2"><i>2</i></ng-key>
            <ng-key class='btn btn-right' ng-key-data="3"><i>3</i></ng-key>
            <ng-key class='btn btn-right' ng-key-data="4"><i>4</i></ng-key>
            <ng-key class='btn btn-right' ng-key-data="5"><i>5</i></ng-key>
            <ng-key class='btn btn-right' ng-key-data="6"><i>6</i></ng-key>
            <ng-key class='btn btn-right' ng-key-data="7"><i>7</i></ng-key>
            <ng-key class='btn btn-right' ng-key-data="8"><i>8</i></ng-key>
            <ng-key class='btn btn-right' ng-key-data="9"><i>9</i></ng-key>
            <ng-key class='btn btn-right' ng-key-data='"<"'><i class="material-icons md-48">backspace</i></ng-key>
            <ng-key class='btn btn-right' ng-key-data="0"><i>0</i></ng-key>
            <md-button class='btn btn-right' ng-click="getItem(vm)"><i><div class="enter">Enter</div></i></md-button>
          </div>
        </ng-keypad>
      </div>
    </div>

  <div class="riCheckoutContainer">
    <md-button id="mainButtons" class="squarebtn squarebtn-right" ng-click="checkoutScreen()"><i class="material-icons md-48">shopping_cart</i></md-button>
    <md-button id="mainButtonsDisabled" class="squarebtnDisabled squarebtn-right" disabled><i class="material-icons md-48">add_shopping_cart</i></md-button>
    <md-button id="mainButtons" class="squarebtn squarebtn-right" ng-click="searchRepairItems()"><i class="material-icons md-48">search</i></md-button>
    <md-button id="mainButtons" class="squarebtn squarebtn-right" ng-click="getHistory()"><i class="material-icons md-48">folder</i></md-button>
    <md-button id="mainButtons" class="squarebtn squarebtn-right" ng-click="addCheckout(inventoryitem)"><i class="material-icons md-48">check</i></md-button>
  </div>
  </div>
</div>
