<header class="md-whiteframe-z3">
  <div class="menubar">
      <div ng-controller="HomeCtrl" class="container">
        <h1>Autotrak</h1>
        <md-button class="home" ng-click="home()"></md-button>
      </div>
    </div>
</header>
<div id="create-super" class="md-whiteframe-z1">
<h2>Edit Employee</h2>
  <form>
    <div layout layout-sm="column">
      <md-input-container flex>
        <label>First name</label>
        <input ng-model="user.employee_first_name">
      </md-input-container>
      <md-input-container flex>
        <label>Last Name</label>
        <input ng-model="user.employee_last_name">
      </md-input-container>
    </div>

    <md-content md-theme="default" layout-padding layout="row" layout-sm="column">
      <md-input-container style="width:45%">
        <label>Employee Email</label>
        <input ng-model="user.employee_email" type="email">
      </md-input-container>
      <md-input-container style="width:45%">
          <label>Pin Numer</label>
          <input ng-model="user.employee_pin" type="password">
        </md-input-container>
      </md-content>

      <md-content md-theme="default" layout-padding layout="row" layout-sm="column">
        <md-input-container style="width:45%">
          <label>Employee Access Rights</label>
          <input ng-model="user.role">
          </md-input-container>

      </md-content>
      <md-button ng-click="employeeEdit(user)" class="md-primary">

      </md-button>
    </md-content>
  </form>
</div>
