#landing-img {
  width: 60%;
  float: right;
  margin-right: 10%;
}

#create-super {
  width: 75%;
  margin: 50px auto;

  .md-button {
    background-color: #607D8B;
    color: rgba(0,0,0, 0.8);
  }

  .md-button:hover {
    background-color: #455A64;
    color: rgba(255,255,255, 0.8);
  }
}

#newTech {
  width: 75%;
  margin: 50px auto;
}

#techList {
  margin-top: 50px;
}

/* Number Pad
=============*/
.userNumPad{
  border: 1px solid rgba(0,0,0, 0.3);
  width: 479px;
  height: 390px;
  margin: 10% auto;

  .md-button {
    box-shadow: 2px 2px 2px rgba(0,0,0, 0.35);
    background-color: #607D8B;
    color: white;
    height: 85px;
    width: 140px;
  }

  .md-button:hover {
    background-color: #455A64;
    color: black;
  }

}
