.container {
  width: 100%;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  span {
    margin-left: 20px;
  }
}

form {
  input {
    color: black;
  }
}

.admin-logout {
  float: right;
  // margin-top: 10px;
}

.landing {
  width:100%;

  #landing-img {
    width: 65%;
    margin: 50px;
    margin-left: 17%;
  }
}

#create-super {
  width: 75%;
  margin: 50px auto;

  .md-button {
    background-color: #607D8B;
    color: rgba(0,0,0, 0.8);
  }

  .md-button:hover {
    background-color: #455A64;
    color: rgba(255,255,255, 0.8);
  }
}

#newTech {
  width: 75%;
  margin: 50px auto;
}

#techList {
  margin-top: 50px;
}

/* Number Pad
=============*/
.userNumPad{
  // border: 1px solid rgba(0,0,0, 0.3);
  width: 479px;
  height: 490px;
  margin: 5% auto;

  .md-button {
    box-shadow: 2px 2px 2px rgba(0,0,0, 0.35);
    background-color: #607D8B;
    color: white;
    height: 85px;
    width: 140px;

  },

  .md-button:hover {
    background-color: #455A64;
    color: black;
  }
}

.admin-login {
  margin-top: 15px;
  margin-left: 50px;
}

/* Admin Dashboard Main View
============================ */
.dashboard-admin {
  padding: 15px;
}

.md-sidenav-left {
  height: 100vh;
}

.data-list {

  ul {
    width: 70%;
    padding-left: 0;


    li {
      list-style-type: none;
      width: 85%;
      padding: 5px 5px 5px 20px;
      margin: 10px auto;
    }
  }
}

.md-sidenav-right {
  width: 1100px;
  min-width: 1100px;
  max-width: 1100px;
}

.dash-main {
  height: 100vh;
}

// .md-input-container:not(.md-input-has-value) input:not(:focus) {
//   color: black;
// }


// Technician Dashboard
// ====================
.user-declare {
  margin-left: 50px;
  float: left;
}

.user-logout{
  float: right;
  margin-right: 50px;
}

.checkout {
  margin-left: 50px;
}

.tech-header {
  clear: both;
  width: 90%;
  height: 500px;
  margin: 30px auto 10px auto;
  overflow: scroll;
}

.tech-left {
  // width: 90%;
  height: 500px;
  margin: 30px auto 10px auto;
  overflow: scroll;

  table {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 500px; /* this can vary */
  }

  table * {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
  }

  thead {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  tbody {
    overflow-y: scroll;
    display: inline-block;
  }

  thead > tr, tbody > tr, tfoot > tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  thead, tfoot {
    flex-shrink: 0;
  }

  th, tbody td {
    width: 20%; /* this can vary */
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }

  tfoot {
    display: inline-block;
  }

  tfoot td {
    width: 100%;
    display: inline-block;
  }

  td input {
    width: 75px;
  }

  #th-button {
    // width: 45px;
  }

  #td-quantity {
    // width: 75px;
  }

  #td-button {
    width: 45px;
  }
}
