<div class="user-declare">
  <h3>Add Repair Item Quantity:</h3>
</div>
<!-- <div class="user-logout md-whiteframe-z3 md-default">
  <md-button ng-click="logout()">Logout</md-button>
</div> -->
<div class="tech-header md-whiteframe-z3">
  <table st-table="displayed" class="table table-striped">
    <thead>
      <tr>
        <th st-ratio="20" st-sort="part">Part</th>
        <th st-ratio="20" st-sort="partNum">Part #</th>
        <th st-ratio="10" st-sort="supplier">Supplier</th>
        <th st-ratio="30" st-sort="location">Location</th>
        <th st-ratio="30" st-sort="onHand">On Hand</th>
        <th st-ratio="20" st-sort="quantity" id="td-quantity">Quantity</th>
        <th st-ratio="20" st-sort="button" id="th-button"></th>
        <!-- <th></th> -->
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in items">
        <!-- <td cs-select="row"></td> -->
        <td st-ratio="20">{{item.inventory_item.part_name}}</td>
        <td st-ratio="20">{{item.inventory_item.business_part_number}}</td>
        <td st-ratio="20">{{item.inventory_item.inventory_item_supplier}}</td>
        <td st-ratio="30">{{item.inventory_item.inventory_item_location}}</td>
        <td st-ratio="30">{{item.inventory_item.inventory_count}}</td>
        <td st-ratio="20"><input type="Number" data-id="{{item.id}}" ng-model="item.repair_item_quantity"></input></td>
        <td st-ratio="20"><md-button ng-click="addQuantity(item)">Add</md-button></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5" class="text-center">
          <div  st-items-by-page="20" st-pagination=""></div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
