<div ng-controller="AppCtrl" layout="column" style="height:500px;">
  <section layout="row" flex>
  <!-- Left Side Nav -->
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

      <md-content layout-padding ng-controller="LeftCtrl">
        <ul>
          <li>
            <md-button class="md-accent" ui-sref="admin.employee" aria-label="Settings">
              Employees
            <md-button>
          </li>
          <li>
            <md-button class="md-accent" ui-sref="admin.inventory" aria-label="Settings">
              Inventory
            <md-button>
          </li>
          <li>
            <md-button class="md-accent" ui-sref="admin.customer" aria-label="Settings">
              Customers
            <md-button>
          </li>
          <li>
            <md-button class="md-accent" ui-sref="admin.reports" aria-label="Settings">
              Reports
            <md-button>
          </li>
        </ul>
      </md-content>

    </md-sidenav>

    <md-content flex layout-padding>

      <div layout="column" layout-fill layout-align="top center">

        <!-- Dashboard Main View -->
        <div ui-view class="dashboard-admin"></div>

      <div>

          <md-button ng-click="toggleLeft()"
            class="md-primary" hide-gt-md>
            Toggle left
          </md-button>
        </div>
        <div>
          <md-button ng-click="toggleRight()"
            class="md-primary">
            Toggle right
          </md-button>
        </div>
      </div>

      <div flex></div>

    </md-content>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
      <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">Sidenav Right</h2>
      </md-toolbar>
      <md-content ng-controller="RightCtrl" layout-padding>
        <form>
          <md-input-container>
            <label for="testInput">Test input</label>
            <input type="text" id="testInput"
                   ng-model="data" md-sidenav-focus>
          </md-input-container>
        </form>
        <md-button ng-click="close()" class="md-primary">
          Close Sidenav Right
        </md-button>
      </md-content>
    </md-sidenav>
  </section>
</div>
