<header class="md-whiteframe-z3">
  <div class="menubar">
      <div ng-controller="HomeCtrl" class="container">
        <h1>Autotrak</h1>
        <md-button class="home" ng-click="home()"></md-button>
      </div>
    </div>
</header>
<div class="admin-logout md-whiteframe-z4 md-default">
  <md-button ng-click="logout()">Logout</md-button>
</div>
<div ng-controller="AppCtrl" layout="column" style="height:500px;">
  <section layout="row" flex>
  <!-- Left Side Nav -->
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

      <md-content layout-padding ng-controller="LeftCtrl">
        <ul>
          <li>
            <md-button class="md-primary" ui-sref="admin.employee">Employees
            </md-button>
          </li>
          <li>
            <md-button class="md-primary" ui-sref="admin.inventory">Inventory
            </md-button>
          </li>
          <li>
            <md-button class="md-primary" ui-sref="admin.customer">Customers
            </md-button>
          </li>
          <li>
            <md-button class="md-primary" ui-sref="admin.reportRo">Repair Orders
            </md-button>
          </li>
        </ul>
      </md-content>

    </md-sidenav>

    <md-content class="dash-main" flex layout-padding>

      <div layout="column" layout-fill layout-align="top center">

        <!-- Dashboard Main View -->
        <div ui-view="content" class="dashboard-admin">
        <!--   <div ui-view="edit"></div> -->
        </div>
      <div>

          <md-button ng-click="toggleLeft()"
            class="md-primary" hide-gt-md>
            Options
          </md-button>
        </div>
        <div>
          <md-button ng-click="toggleRight()"
            class="md-raised md-primary">
            Add/Edit
          </md-button>
        </div>
      </div>

      <div flex></div>

    </md-content>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
      <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools"></h2>
      </md-toolbar>
      <md-content ng-controller="RightCtrl" layout-padding>
        <form>
          <md-input-container>
            <div ui-view="rightNav" md-sidenav-focus></div>
          </md-input-container>
        </form>
        <md-button ng-click="close()" class="md-primary">
          Close
        </md-button>
      </md-content>
    </md-sidenav>
  </section>
</div>
